@font-face {
  font-family: cushing;
  src: url("../fonts/cushing/cushing_bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cushing/cushing_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cushing/cushing_bold.woff") format("woff"), url("../fonts/cushing/cushing_bold.ttf") format("truetype"), url("../fonts/cushing/cushing_bold.svg#a87ca23c7ffce2055b3a02d3cedec1b6") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: cushing;
  src: url("../fonts/cushing/cushing_bold_italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cushing/cushing_bold_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/cushing/cushing_bold_italic.woff") format("woff"), url("../fonts/cushing/cushing_bold_italic.ttf") format("truetype"), url("../fonts/cushing/cushing_bold_italic.svg#6e841801069a6c5928b25b469aa83f12") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: cushing;
  src: url("../fonts/cushing/cushing_book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cushing/cushing_book.eot?#iefix") format("embedded-opentype"), url("../fonts/cushing/cushing_book.woff") format("woff"), url("../fonts/cushing/cushing_book.ttf") format("truetype"), url("../fonts/cushing/cushing_book.svg#06b32ee4fa53b9ac5f521d836805c9fc") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: cushing;
  src: url("../fonts/cushing/cushing_book_italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cushing/cushing_book_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/cushing/cushing_book_italic.woff") format("woff"), url("../fonts/cushing/cushing_book_italic.ttf") format("truetype"), url("../fonts/cushing/cushing_book_italic.svg#9bf3eee070212b59bb55c091c19bb76e") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: cushing;
  src: url("../fonts/cushing/cushing_medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cushing/cushing_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/cushing/cushing_medium.woff") format("woff"), url("../fonts/cushing/cushing_medium.ttf") format("truetype"), url("../fonts/cushing/cushing_medium.svg#74d44bef746a00536666ca2651872217") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: cushing;
  src: url("../fonts/cushing/cushing_medium_italic.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cushing/cushing_medium_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/cushing/cushing_medium_italic.woff") format("woff"), url("../fonts/cushing/cushing_medium_italic.ttf") format("truetype"), url("../fonts/cushing/cushing_medium_italic.svg#92c81430f750d3c3fb2f7989723434dc") format("svg");
  /* Legacy iOS */
  font-style: italic;
  font-weight: 500; }

@font-face {
  font-family: matrix;
  src: url("../fonts/matrix/matrix_script_bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/matrix/matrix_script_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/matrix/matrix_script_bold.woff") format("woff"), url("../fonts/matrix/matrix_script_bold.ttf") format("truetype"), url("../fonts/matrix/matrix_script_bold.svg#bbf5af560e2da2cdc989f1e629149f14") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: matrix;
  src: url("../fonts/matrix/matrix_script_book.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/matrix/matrix_script_book.eot?#iefix") format("embedded-opentype"), url("../fonts/matrix/matrix_script_book.woff") format("woff"), url("../fonts/matrix/matrix_script_book.ttf") format("truetype"), url("../fonts/matrix/matrix_script_book.svg#f412aa95878fef44040fb2a6821d70b1") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: cushing, Baskerville, Georgia, serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  height: 100%;
  min-width: 20rem; }

body {
  background-color: #FEFEFA;
  color: #343434;
  text-align: center;
  font-size: 100%; }

li {
  display: inline-block;
  vertical-align: top;
  position: relative; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  text-decoration: none;
  color: #343434; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: matrix, monospace;
  margin-bottom: 1.250em; }

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: 600; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 0.8rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-style: italic;
  font-family: cushing, Baskerville, Georgia, serif;
  color: #999;
  font-weight: 400; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
  opacity: 0.2; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
  border: none; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

::-webkit-input-placeholder {
  color: #009E60;
  font-style: italic;
  font-size: 0.9em;
  margin-left: 1em; }

:-ms-input-placeholder {
  color: #009E60;
  font-style: italic;
  font-size: 0.9em; }

::-moz-placeholder {
  color: #009E60;
  font-style: italic;
  font-size: 0.9em; }

:-moz-placeholder {
  color: #009E60;
  font-style: italic;
  font-size: 0.9em; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*labels*/
label {
  display: block;
  border-top: 1px solid #E1E1E1;
  position: relative;
  text-align: left; }
  label:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 1px solid #E1E1E1;
    display: block;
    left: 49.5%;
    top: 0; }
  label span {
    width: 50%;
    text-align: right;
    display: inline-block;
    padding: 0.625em;
    margin-left: -0.625em; }
  label input {
    width: 49.5%;
    background-color: transparent;
    padding: 0.625em 0.625em 0 0.625em;
    margin: 0 -0.625em 0.625em 0; }
  label .tag_entry {
    width: 49.5%;
    text-align: left;
    padding-left: 0.625em;
    display: inline-block; }
  label .tag_removal {
    width: 47%;
    vertical-align: middle;
    margin-top: 0.4em; }
  label input[type="checkbox"] {
    width: auto;
    margin-left: 1em; }
  label .tag_list_item.tag_list_item.tag_list_item {
    height: auto;
    transition: 0.6s opacity ease; }
  label .add_new_tag {
    display: inline;
    border: none !important;
    height: auto !important; }
    label .add_new_tag button {
      vertical-align: top; }
  label .new_tag {
    width: 35%; }
    @media only screen and (max-width: 48.75em) {
      label .new_tag {
        width: 90%; } }

.re_add_tag span {
  background: url("../images/btns/add.svg") center no-repeat; }

.persistant {
  position: fixed;
  top: 20%;
  left: 30%;
  z-index: 20;
  background-color: #F8F8F8;
  border-radius: 0.125em;
  width: 40%;
  display: none;
  border: 1px solid #E1E1E1;
  box-shadow: 0 0 20px 5px rgba(52, 52, 52, 0.3);
  text-align: center; }
  .persistant .note_colour.note_colour.note_colour {
    display: block;
    margin: 0.25em;
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    padding: 0.25em; }
  .persistant .new_tag {
    width: 60%; }
  @media only screen and (max-width: 48.75em) {
    .persistant {
      width: 90%;
      left: 5%; } }

@media only screen and (max-width: 48.75em) {
  .image_content label:before {
    content: none; }
  .image_content label span {
    display: none; }
  .image_content label input {
    width: 100%; } }

.secondary_header form {
  background: #343434;
  border-bottom: medium double #444444; }
  .secondary_header form h3 {
    color: #FEFEFA; }
  .secondary_header form label:first-child {
    border-top: none; }
  .secondary_header form label {
    border-color: #444444;
    color: #FEFEFA; }
    .secondary_header form label:before {
      border-color: #444444; }
  .secondary_header form .cancel, .secondary_header form .submit {
    border-color: #444444; }
  .secondary_header form .new_tag {
    color: #FEFEFA; }
  .secondary_header form .stasis_tag {
    background-color: #FEFEFA; }

/*most forms should not be display without user action*/
form {
  display: none;
  text-align: center; }
  form h3 {
    padding-top: 0.625em; }
  form .tag_entry .add_new_tag {
    display: inline; }

.fullWidth {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #E1E1E1;
  margin-left: 0; }

.drag_handle {
  background-color: #009E60;
  height: 1em; }

#book_toggle, #note_toggle {
  width: 49.5%;
  color: #343434;
  border: none; }
  @media only screen and (max-width: 48.75em) {
    #book_toggle, #note_toggle {
      width: 49%; } }

.note_tags label:before {
  content: none; }

.note_tags .tag_entry {
  width: 100%;
  padding-top: 0.5em; }

.note_tags .new_tag {
  width: 50%;
  margin-bottom: 0.5em; }

.note_content:before {
  content: none; }

.note_black .note_content textarea {
  color: #FEFEFA;
  background-color: #343434; }

.note_green .note_content textarea {
  background-color: #009E60; }

.note_blue .note_content textarea {
  color: #FEFEFA;
  background-color: #0087BD; }

.note_ruby .note_content textarea {
  color: #FEFEFA;
  background-color: #E0115F; }

.note_orange .note_content textarea {
  color: #FEFEFA;
  background-color: #BF4F51; }

.note_content > textarea {
  width: 100%;
  min-height: 8rem;
  color: #343434;
  background-color: #FEFEFA;
  border: none;
  padding: 0.625em;
  font-size: 1.2em; }

.note_colour.note_colour.note_colour {
  display: none;
  margin-right: 0.25em; }
  .note_colour.note_colour.note_colour ul {
    display: inline-block; }
  .note_colour.note_colour.note_colour li {
    width: 1em;
    height: 1em;
    overflow: hidden;
    margin: 0;
    border: none; }
  .note_colour.note_colour.note_colour a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1em; }

.white_n {
  background-color: #FEFEFA;
  border: 1px solid #E1E1E1; }

.black_n {
  background-color: #343434; }

.green_n {
  background-color: #009E60; }

.ruby_n {
  background-color: #E0115F; }

.orange_n {
  background-color: #BF4F51; }

.blue_n {
  background-color: #0087BD; }

.login > form, form[name='edit_user_name'], form[name='edit_email_address'], form[name="registerform"] {
  display: block; }

.profile_form {
  width: 51%; }
  @media only screen and (max-width: 48.75em) {
    .profile_form {
      width: 100%; } }

.searchAndSort {
  padding-top: 1em;
  margin-bottom: 1em; }

.search_tags {
  min-width: 50%;
  height: 1.875rem;
  padding-left: 1em;
  font-size: 1.1em;
  color: #343434;
  border: 1px solid #E1E1E1;
  border-radius: 0.125em; }
  @media only screen and (max-width: 48.75em) {
    .search_tags {
      margin-top: 1em; } }

.search_tags.tag_editor {
  width: 100%;
  margin-bottom: 1em; }

.sortOrder {
  background-color: #FFF;
  border: 1px solid #E1E1E1;
  border-radius: 0.125em;
  color: #343434;
  vertical-align: middle;
  width: auto;
  margin-right: 0.25em;
  padding: 0.25em; }

.sortOrder.active {
  background-color: #E0115F;
  color: #FEFEFA; }

.tag_edit {
  color: #FEFEFA; }

/*input search in header*/
.search {
  padding: 0.3em 1.6em 0 0.3em;
  color: #343434;
  height: 2.2rem;
  font-size: 0.8em;
  width: 15em;
  background-color: #FEFEFA;
  border: 1px solid #E1E1E1; }
  @media only screen and (max-width: 48.75em) {
    .search {
      height: 2em;
      width: 17em;
      text-align: center; } }

.search.mousetrap {
  border: none;
  color: #FEFEFA;
  background-color: transparent;
  border: none;
  border-bottom: medium double #009E60; }
  @media only screen and (max-width: 48.75em) {
    .search.mousetrap {
      display: none;
      position: fixed;
      top: 2.2rem;
      height: 2.4rem;
      left: 0;
      width: 100%;
      margin: 0;
      z-index: 31;
      background-color: #343434; } }

.submit_search {
  border: none;
  width: 1.9rem;
  height: 1.9rem;
  margin-top: 0.125rem;
  margin-right: 0.125rem;
  border-radius: .25em;
  vertical-align: top;
  background: url("../images/btns/search.svg") center no-repeat;
  background-size: 120%;
  border: 1px solid #009E60; }
  @media only screen and (max-width: 48.75em) {
    .submit_search {
      width: 1.5em;
      height: 1.5em;
      position: fixed;
      top: 1.9em;
      right: 1em;
      display: none;
      z-index: 32; } }

.search_mobile {
  display: none; }
  @media only screen and (max-width: 48.75em) {
    .search_mobile {
      background: url("../images/btns/search.svg") center no-repeat;
      display: inline-block;
      width: 1.5rem;
      height: 2.1rem;
      border: none; } }

button {
  width: 1.875rem;
  height: 1.875rem;
  background-color: transparent;
  border-top: 1px solid #E1E1E1;
  border-right: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  border-bottom: none;
  color: transparent;
  transition: all 0.6s ease;
  transition-property: background-color, opacity;
  display: inline-block;
  vertical-align: bottom; }

/*validation styles*/
input[type="url"]:focus:valid, input[type="email"]:focus:valid {
  border-bottom: medium double #009E60; }

textarea:focus:valid {
  border: medium double #009E60; }

textarea:focus:invalid {
  border: medium double #E0115F; }

input[type="url"]:focus:invalid, input[type="email"]:focus:invalid, textarea:focus:invalid {
  border-bottom: medium double #E0115F; }

/*active button*/
.activeBtn.activeBtn.activeBtn {
  background-color: #F8F8F8; }

button[class^="edit_"] {
  background: url("../images/btns/edit.svg") center no-repeat; }

button[class^="add_"] {
  background: url("../images/btns/add.svg") center no-repeat; }

button.add_bookmark.add_bookmark {
  background: url(../images/btns/bookmark.svg) center no-repeat; }

button[class^="delete_"] {
  background: url("../images/btns/light_btns/trash.svg") center no-repeat; }

.closeModal {
  background: url("../images/btns/light_btns/delete.svg") center no-repeat; }

.close_sidebar {
  display: none; }
  @media only screen and (max-width: 48.75em) {
    .close_sidebar {
      background: url("../images/btns/light_btns/delete.svg") center no-repeat;
      width: 100% !important;
      border: none;
      border-bottom: 1px dotted #E0115F;
      display: block;
      margin-bottom: 0.5em; } }

.sidebarReveal {
  display: none; }
  @media only screen and (max-width: 48.75em) {
    .sidebarReveal {
      background: url("../images/btns/hamburger.svg") top no-repeat;
      display: inline-block; } }

.close_content {
  display: none; }
  @media only screen and (max-width: 48.75em) {
    .close_content {
      background: url("../images/btns/delete.svg") center center no-repeat;
      position: fixed;
      right: 0;
      top: 0;
      border: none;
      z-index: 125; } }

.close_feedback {
  background: url("../images/btns/delete.svg") center center no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 1px solid #E1E1E1; }

button[class^="move_temp_"] {
  background: url("../images/btns/move.svg") center no-repeat; }

.check_image {
  background: url("../images/btns/checkbox.svg") center no-repeat;
  margin-right: -0.4em; }

.secondary_header .check_image {
  margin-right: 0; }

.checked_image.checked_image.checked_image {
  background: #343434 url("../images/btns/light_btns/checkbox.svg") center no-repeat; }

.submit {
  margin-right: -0.4em;
  margin-left: -0.8em;
  border-right: none;
  background: url("../images/btns/light_btns/submit.svg") center no-repeat; }

.cancel {
  background: url("../images/btns/light_btns/delete.svg") center no-repeat;
  margin-right: -0.3em; }

.previous {
  background-image: url("../images/btns/browserBack.svg"); }

.next {
  background-image: url("../images/btns/browserForward.svg"); }

.img_origSize {
  background-image: url("../images/btns/originalSizenobox.svg"); }

.img_constrainWidth {
  background-image: url("../images/btns/fullWidthnobox.svg"); }

.img_constrainHeight {
  background-image: url("../images/btns/fullHeightnobox.svg"); }

.removeFav {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  display: inline-block;
  margin-left: 5px;
  margin-top: -3px;
  vertical-align: middle;
  background: url("../images/btns/light_btns/delete.svg") center no-repeat;
  background-size: 150%; }

.refresh_feeds {
  background: url("../images/btns/refresh.svg") center no-repeat; }

.preview_btn {
  position: absolute;
  bottom: 0.2em;
  left: 1.2em;
  border: none;
  border-top: 1px solid #E1E1E1;
  width: 1em;
  height: 1em;
  background: url("../images/btns/light_btns/preview.svg") center no-repeat; }

.delete_popup.delete_popup {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background: #F8F8F8 url("../images/btns/light_btns/delete.svg") center no-repeat; }

/*houses the edit and delete buttons - bookmarks has a different style than the rest*/
.bookmarks h2 {
  margin-bottom: 0.2em; }

.bookmarks .button_container {
  display: block;
  text-align: center;
  position: relative;
  top: 0; }
  .bookmarks .button_container button[class^="delete_"] {
    border-right: 1px solid #E1E1E1; }

.button_container {
  text-align: center;
  position: absolute;
  right: 0; }
  .button_container button[class^="edit_"] {
    background: url("../images/btns/light_btns/edit.svg") center no-repeat; }
  .button_container button[class^="edit_"], .button_container button[class^="add_"], .button_container button[class^="delete_"] {
    background-color: #FEFEFA; }
  .button_container button[class^="add_"], .button_container button[class^="delete_"] {
    border-right: none; }
  .button_container button[class^="edit_"] {
    margin-right: -0.4em; }

.edit_name {
  color: #343434;
  background-color: transparent;
  font-size: 1.2em;
  font-weight: 200;
  border-bottom: 1px dotted #0087BD;
  display: none;
  width: 46%;
  margin-bottom: 0.5em;
  -webkit-font-smoothing: antialiased; }
  @media only screen and (max-width: 48.75em) {
    .edit_name {
      width: 90%; } }

.new_tag {
  color: #343434;
  background-color: transparent;
  border: 1px solid #009E60;
  border-radius: 2px;
  margin-right: 0.5em;
  padding: 0.1em 0.4em 0;
  width: 100%; }

.vertical_list .new_tag {
  width: 40%; }

.load_more {
  width: 90%;
  color: #343434;
  font-variant: small-caps;
  font-family: georgia, serif;
  font-size: 1.2em;
  background-color: #F8F8F8;
  border: none;
  margin-left: 5%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.125em; }

.active {
  font-weight: 700; }

.small_caps_mobile {
  font-variant: small-caps; }

.active_toggle {
  font-weight: 600; }

.left {
  float: left; }

.right {
  float: right; }

.invert.invert.invert {
  background-color: #009E60; }

.lower_opacity {
  opacity: 0.1; }

.search_results {
  border-bottom: 1px solid #E1E1E1;
  padding: 0.3em 0 0.5em 0;
  margin-bottom: 0;
  margin-left: 17%;
  width: 83%; }
  @media only screen and (max-width: 48.75em) {
    .search_results {
      width: 100%;
      margin-left: 0; } }

.no_margin {
  margin: 0; }

/*lists tend to have right borders but a single element in a list looks wrong so we add this*/
.left_border {
  border-left: 1px solid #E1E1E1; }

.right_border {
  border-right: 1px solid #E1E1E1; }

.bottom_border {
  border-bottom: 1px solid #E1E1E1; }

.header {
  font-size: 1.2rem;
  background: #343434;
  position: fixed;
  width: 100%;
  min-width: 20rem;
  top: 0;
  z-index: 30; }
  .header nav {
    border-bottom: 1px solid #444444;
    height: 2.3rem; }
  .header li {
    padding: 0.4rem;
    border-right: 1px solid #444444; }
    .header li a {
      color: #FEFEFA; }
  .header .showMenu {
    height: auto;
    z-index: 5;
    background-color: #343434; }
  .header .search_inline.search_inline.search_inline {
    padding: 0;
    height: 2.3rem; }

@media only screen and (max-width: 48.75em) {
  .main_nav > ul > li {
    font-size: 1.1rem;
    height: 2.3rem;
    padding: 0.4em 0.3em; }
  .home_header {
    width: 1.3em;
    overflow: hidden;
    background: url("../images/btns/home.svg") top no-repeat; }
    .home_header a {
      color: transparent !important; }
  .logout {
    width: 1.3em;
    overflow: hidden;
    background: url("../images/btns/power.svg") top no-repeat; }
    .logout a {
      color: transparent !important; }
  .user_header {
    width: 1.3em;
    overflow: hidden;
    background: url(../images/btns/profile.svg) top no-repeat; }
    .user_header a {
      color: transparent !important; }
  .header_user_name.header_user_name.header_user_name:before {
    display: none; } }

.autocomplete-suggestions {
  border: 1px solid #E1E1E1;
  background: #FEFEFA;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #E1E1E1;
  color: #343434; }

.autocomplete-selected {
  background: #343434;
  color: #FEFEFA; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #009E60; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 20rem; }

/*feedback in footer*/
.feedback.success, .feedback.error {
  background-color: #F8F8F8;
  padding: 0.4em 2.2em 0.4em 0.4em;
  border-top: 1px solid #E1E1E1; }

section {
  padding-bottom: 3em;
  margin-top: 4.175rem; }

.single_header {
  margin-top: 2.3rem; }

.header_user_name:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #009E60;
  border-radius: 1rem;
  margin-right: 0.625em;
  margin-bottom: -1px; }

/*element nav that gets added to main header depending on section*/
.secondary_header.secondary_header {
  font-size: 1rem;
  height: 1.875rem; }
  .secondary_header.secondary_header li {
    height: 1.875rem; }
  .secondary_header.secondary_header li > button {
    border: none; }
  .secondary_header.secondary_header .no_padding {
    padding: 0; }

.no_content {
  background-color: #F8F8F8;
  color: #343434;
  width: 15em;
  margin: 0 auto;
  margin-top: 5em;
  padding: 1em;
  border-radius: 0.125em; }
  .no_content p {
    line-height: 1.5em; }
  .no_content a {
    border-bottom: 1px dotted #0087BD; }
  .no_content h2 {
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 0.7em;
    padding-bottom: 0.7em; }

.vertical_list {
  width: 28%;
  text-align: left;
  margin: 0 0 0 17%; }
  @media only screen and (max-width: 48.75em) {
    .vertical_list {
      width: 100%;
      margin: 0; } }

.vertical_list > li {
  display: inline-block;
  line-height: 1.9em;
  width: 100%;
  padding: 0.625em 0.625em 0 0.625em;
  border-bottom: medium double #E1E1E1;
  transition: all 0.6s ease;
  transition-property: transform, opacity; }
  .vertical_list > li:nth-child(even) {
    background-color: #FAFAFA; }

.vertical_list.book {
  width: 83%; }
  @media only screen and (max-width: 48.75em) {
    .vertical_list.book {
      width: 100%; } }

.vertical_list.feed_urls {
  border-left: medium double #E1E1E1;
  border-right: medium double #E1E1E1;
  width: 90%;
  padding: 0 0.5em;
  margin: 0 0 0 5%;
  column-count: 2;
  column-rule: medium double #E1E1E1; }
  @media only screen and (max-width: 48.75em) {
    .vertical_list.feed_urls {
      width: 100%;
      margin: 0;
      border: none;
      padding: 0;
      column-count: 1; } }

.vertical_list.rss_feed_list {
  position: fixed;
  margin: 0;
  left: 17%;
  top: 4.175rem;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid #E1E1E1; }
  @media only screen and (max-width: 48.75em) {
    .vertical_list.rss_feed_list {
      width: 100%;
      top: 0;
      left: 0;
      position: relative; } }

.vertical_list.rss_feed_list > li {
  line-height: 2em; }
  .vertical_list.rss_feed_list > li button {
    border: 1px solid #E1E1E1;
    background: url(../images/btns/light_btns/add.svg) center no-repeat;
    background-size: 100%;
    border-radius: 0.25em;
    margin-right: 0.45em;
    width: 1.5em;
    height: 1.5em; }

.vertical_list.rss_feed_list > li > h2 {
  margin: 0;
  display: inline;
  line-height: 0.5em; }

.description {
  line-height: 1.5em;
  width: calc(100% + 1.25em);
  margin-left: -0.625em;
  padding: 0.625em;
  overflow-x: hidden; }

.sidebar {
  width: 17%;
  position: fixed;
  overflow-y: auto;
  left: 0;
  top: 4.175rem;
  bottom: 0;
  padding: 0.5%;
  z-index: 20;
  background-color: #FEFEFA;
  border-right: 1px solid #E1E1E1; }
  @media only screen and (max-width: 48.75em) {
    .sidebar {
      width: 55%;
      min-width: 11.875rem;
      transform: translateX(-100%);
      transition: transform 0.6s ease;
      -webkit-overflow-scrolling: touch; } }
  .sidebar a {
    color: #FEFEFA; }
  .sidebar h3 {
    border-bottom: medium double #E1E1E1;
    display: block;
    margin-bottom: 0.5em; }
  .sidebar button {
    width: 50%;
    color: #343434;
    font-variant: small-caps;
    font-size: 0.9em; }
  .sidebar li.no_bullet {
    width: 100%; }
  .sidebar .light_book, .sidebar .light_tag {
    opacity: 0.6; }
  .sidebar .light_book {
    border-right: 0; }
  .sidebar button.active {
    opacity: 1; }

.sidebar_reveal.sidebar_reveal.sidebar_reveal.sidebar_reveal {
  transform: translateX(0); }

.mk_read[data-flag="7"] {
  border-left: 0; }

.mk_read[data-flag="31"] {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 0.5em; }

.mk_read[data-flag="100"] {
  border-left: 0;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 0.5em; }

.sidebar .search {
  width: 100%;
  border-radius: 0;
  height: 2em;
  margin-bottom: 0.5em; }

.sidebar > li {
  display: list-item;
  text-align: left;
  line-height: 1.5em;
  margin-bottom: 0.3em; }

.rss_content {
  width: 55%;
  position: fixed;
  overflow-y: auto;
  right: 0;
  bottom: 0;
  top: 4.175rem;
  text-align: center;
  padding: 10px 30px;
  font-size: 1.2em;
  background-color: #FAFAFA; }
  @media only screen and (max-width: 48.75em) {
    .rss_content {
      padding: 10px;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      top: 0;
      transform: translateX(100%);
      transition: transform 0.6s ease;
      z-index: 100; } }
  .rss_content img {
    max-width: 100%;
    margin-bottom: 20px;
    height: auto; }
  .rss_content a {
    color: #0087BD; }
  .rss_content span {
    font-variant: small-caps;
    margin: 20px 0;
    display: inline-block;
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 5px; }
  .rss_content h2 {
    margin-bottom: 20px; }
  .rss_content h3 {
    margin-bottom: 20px; }
  .rss_content p {
    line-height: 1.6em;
    text-align: left;
    margin-bottom: 20px; }
    .rss_content p img {
      display: block;
      margin: 0 auto; }
  .rss_content ul {
    width: 80%;
    display: inline-block;
    margin: 20px 0; }
  .rss_content li {
    text-align: left;
    width: 100%; }
  .rss_content hr {
    display: none; }
  .rss_content pre {
    text-align: left; }

.dimmed_article {
  opacity: 0.4; }

.fixed_pos {
  position: fixed;
  top: 0; }

/*tag container*/
.tag_entry {
  display: inline-block; }
  .tag_entry .tag_list_item {
    border: 1px solid #BF4F51;
    color: #BF4F51;
    margin: 0 0 0.25em 0.25em;
    line-height: 1.2em;
    display: inline-block;
    padding: 0 0.3em;
    border-radius: 0.125em;
    vertical-align: baseline;
    width: auto; }
    .tag_entry .tag_list_item a {
      color: #BF4F51; }
  .tag_entry .stasis_tag {
    border: 1px solid #E1E1E1 !important;
    pointer-events: none; }
  .tag_entry .tag_list_item:nth-child(5n + 2) {
    color: #009E60;
    border: 1px solid #009E60; }
    .tag_entry .tag_list_item:nth-child(5n + 2) a {
      color: #009E60; }
  .tag_entry .tag_list_item:nth-child(5n + 3) {
    color: #E0115F;
    border: 1px solid #E0115F; }
    .tag_entry .tag_list_item:nth-child(5n + 3) a {
      color: #E0115F; }
  .tag_entry .tag_list_item:nth-child(5n + 4) {
    color: #0087BD;
    border: 1px solid #0087BD; }
    .tag_entry .tag_list_item:nth-child(5n + 4) a {
      color: #0087BD; }
  .tag_entry .tag_list_item:nth-child(5n + 5) {
    color: #DA2C43;
    border: 1px solid #DA2C43; }
    .tag_entry .tag_list_item:nth-child(5n + 5) a {
      color: #DA2C43; }
  .tag_entry .tag_delete {
    display: none; }
  .tag_entry .st_tag {
    opacity: 0.5;
    pointer-events: none; }
  .tag_entry .add_new_tag {
    vertical-align: middle;
    display: none;
    border: none;
    width: auto; }
  .tag_entry .add_new_tag button {
    width: auto;
    height: auto;
    border: none;
    padding: 0 0.2em;
    border-radius: 2px;
    color: #F8F8F8;
    background-color: #343434;
    font-size: 1em; }

.selected_tags, .related_tags, .other_tags {
  display: block; }

/*tag container variations*/
.sidebar .tag_entry .tag_delete {
  background-color: transparent;
  margin-left: -0.25em;
  border: 0;
  display: inline; }

.tag_browser {
  width: 49%;
  text-align: left;
  padding: 0 1em 1em 1em; }
  @media only screen and (max-width: 48.75em) {
    .tag_browser {
      display: none; } }
  .tag_browser .tag_list_item {
    margin: 0 0.5em 0.5em 0;
    padding: 0.125em 0.125em 0.063em 0.250em;
    transition: background 0.6s ease-in-out; }
  .tag_browser .tag_delete {
    display: inline; }
  .tag_browser .activeEdit.activeEdit.activeEdit {
    background-color: #F8F8F8;
    border: 1px dashed #E1E1E1; }
  .tag_browser .inline_edit {
    background-color: transparent;
    font-style: italic;
    font-size: 0.9em; }

.unused_tags {
  border-top: 1px solid #E1E1E1;
  margin-top: 1em; }

.empty_tag {
  color: #BF4F51; }

.pagination {
  position: fixed;
  bottom: 0;
  background-color: #FEFEFA;
  border-top: 1px solid #E1E1E1;
  width: 83%;
  left: 17%; }
  @media only screen and (max-width: 48.75em) {
    .pagination {
      width: 100%;
      min-width: 20rem;
      left: 0; } }
  .pagination li {
    font-family: matrix, monospace;
    font-weight: 500;
    font-size: 1.3em;
    border-right: 1px solid #E1E1E1;
    padding: 0.2em 0.8em;
    margin-right: -0.3em;
    height: 1.4em; }
    @media only screen and (max-width: 48.75em) {
      .pagination li {
        font-size: 1.1em; } }
    .pagination li a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .pagination li .last_page, .pagination li .first_page {
      font-size: 0.7em;
      vertical-align: top;
      position: relative; }
  .pagination .activePage {
    background-color: #009E60;
    border-radius: 2px;
    border-right: none; }
    .pagination .activePage a {
      color: #FEFEFA; }

/*alternate type weight for headings(a jaunty script when using Matrix)*/
.light_heading {
  font-weight: 600;
  display: inline-block;
  margin-right: 0.625em; }

.image_content {
  width: 83%;
  margin-left: 17%; }
  @media only screen and (max-width: 48.75em) {
    .image_content {
      width: 100%;
      margin-left: 0; } }
  .image_content .button_container {
    top: calc(12.5em * 1.25 - 1.875em); }
    .image_content .button_container button {
      background-color: #F8F8F8; }
    @media only screen and (max-width: 48.75em) {
      .image_content .button_container {
        top: calc(9.6em * 1.25 - 1.875em); } }
  .image_content li {
    width: 12.5em;
    transition: transform 0.6s ease-in-out;
    border: 1px solid #E1E1E1;
    margin: 0.4em 0.3em 0.4em 0.2em;
    text-align: left;
    position: relative;
    background-color: #F8F8F8; }
    @media only screen and (max-width: 48.75em) {
      .image_content li {
        width: 9.6em;
        margin: 0.3em auto; } }
  .image_content img {
    width: 100%;
    height: auto; }
  .image_content .tag_entry {
    padding-left: 0.25em; }

.notes_md.notes_md.notes_md {
  border-radius: 0.125em;
  width: 25em; }
  @media only screen and (max-width: 48.75em) {
    .notes_md.notes_md.notes_md {
      width: 19.2em; } }
  .notes_md.notes_md.notes_md .note_img {
    height: calc(12.4rem * 1.25); }
    @media only screen and (max-width: 48.75em) {
      .notes_md.notes_md.notes_md .note_img {
        height: calc(9.6rem * 1.25); } }

.notes_md.notes_md.note_black .note_parsed_content, .notes_md.notes_md.note_black .edit_note_ta {
  background-color: #343434;
  color: #FEFEFA; }
  .notes_md.notes_md.note_black .note_parsed_content ol > li:before, .notes_md.notes_md.note_black .note_parsed_content ul > li:before, .notes_md.notes_md.note_black .edit_note_ta ol > li:before, .notes_md.notes_md.note_black .edit_note_ta ul > li:before {
    color: #FEFEFA; }
  .notes_md.notes_md.note_black .note_parsed_content ol > li:before, .notes_md.notes_md.note_black .edit_note_ta ol > li:before {
    border: 1px solid #FEFEFA; }
  .notes_md.notes_md.note_black .note_parsed_content li > ol > li:before, .notes_md.notes_md.note_black .edit_note_ta li > ol > li:before {
    background-color: #FEFEFA;
    color: #343434; }

.notes_md.notes_md.note_green .note_parsed_content, .notes_md.notes_md.note_green .edit_note_ta {
  background-color: #009E60; }
  .notes_md.notes_md.note_green .note_parsed_content a, .notes_md.notes_md.note_green .edit_note_ta a {
    border: none;
    background-color: #FEFEFA;
    padding: 0.2em 0.2em 0 0.2em;
    border-radius: 0.2em; }
  .notes_md.notes_md.note_green .note_parsed_content ul > li:before, .notes_md.notes_md.note_green .edit_note_ta ul > li:before {
    background-color: #FEFEFA; }
  .notes_md.notes_md.note_green .note_parsed_content li > ul > li:before, .notes_md.notes_md.note_green .edit_note_ta li > ul > li:before {
    background-color: #343434; }

.notes_md.notes_md.note_blue .note_parsed_content, .notes_md.notes_md.note_blue .edit_note_ta {
  background-color: #0087BD;
  color: #FEFEFA; }
  .notes_md.notes_md.note_blue .note_parsed_content a, .notes_md.notes_md.note_blue .edit_note_ta a {
    border: none;
    background-color: #FEFEFA;
    padding: 0.2em 0.2em 0 0.2em;
    border-radius: 0.2em; }
  .notes_md.notes_md.note_blue .note_parsed_content ul > li:before, .notes_md.notes_md.note_blue .edit_note_ta ul > li:before {
    background-color: #FEFEFA; }
  .notes_md.notes_md.note_blue .note_parsed_content li > ul > li:before, .notes_md.notes_md.note_blue .edit_note_ta li > ul > li:before {
    background-color: #343434; }

.notes_md.notes_md.note_ruby .note_parsed_content, .notes_md.notes_md.note_ruby .edit_note_ta {
  background-color: #E0115F;
  color: #FEFEFA; }
  .notes_md.notes_md.note_ruby .note_parsed_content a, .notes_md.notes_md.note_ruby .edit_note_ta a {
    border: none;
    background-color: #FEFEFA;
    padding: 0.2em 0.2em 0 0.2em;
    border-radius: 0.2em; }
  .notes_md.notes_md.note_ruby .note_parsed_content ul > li:before, .notes_md.notes_md.note_ruby .edit_note_ta ul > li:before {
    background-color: #FEFEFA; }
  .notes_md.notes_md.note_ruby .note_parsed_content li > ul > li:before, .notes_md.notes_md.note_ruby .edit_note_ta li > ul > li:before {
    background-color: #343434; }

.notes_md.notes_md.note_orange .note_parsed_content, .notes_md.notes_md.note_orange .edit_note_ta {
  background-color: #BF4F51;
  color: #FEFEFA; }
  .notes_md.notes_md.note_orange .note_parsed_content a, .notes_md.notes_md.note_orange .edit_note_ta a {
    border: none;
    background-color: #FEFEFA;
    padding: 0.2em 0.2em 0 0.2em;
    border-radius: 0.2em; }
  .notes_md.notes_md.note_orange .note_parsed_content ul > li:before, .notes_md.notes_md.note_orange .edit_note_ta ul > li:before {
    background-color: #FEFEFA; }
  .notes_md.notes_md.note_orange .note_parsed_content li > ul > li:before, .notes_md.notes_md.note_orange .edit_note_ta li > ul > li:before {
    background-color: #343434; }

.note_parsed_content, .edit_note_ta {
  position: absolute;
  width: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  height: calc(12.4rem * 1.25);
  padding: 0.3rem 0.5rem 1.875rem 0.5rem;
  font-size: 1.1em;
  background-color: #FEFEFA;
  border-bottom: medium double #E1E1E1; }
  @media only screen and (max-width: 48.75em) {
    .note_parsed_content, .edit_note_ta {
      height: calc(9.6rem * 1.25); } }
  .note_parsed_content hr, .edit_note_ta hr {
    border: 0;
    border-bottom: 1px solid #E1E1E1; }
  .note_parsed_content a, .edit_note_ta a {
    display: inline;
    border-radius: 0;
    max-height: 0;
    border-bottom: 1px dotted #0087BD;
    color: #0087BD; }
  .note_parsed_content p, .note_parsed_content h1, .note_parsed_content h2, .note_parsed_content h3, .note_parsed_content h4, .note_parsed_content h5, .note_parsed_content h6, .edit_note_ta p, .edit_note_ta h1, .edit_note_ta h2, .edit_note_ta h3, .edit_note_ta h4, .edit_note_ta h5, .edit_note_ta h6 {
    line-height: 1.5em;
    margin: 0;
    height: auto;
    margin-bottom: 1em; }
  .note_parsed_content ul, .note_parsed_content ol, .edit_note_ta ul, .edit_note_ta ol {
    margin-left: 1.4em; }
  .note_parsed_content ol, .edit_note_ta ol {
    counter-reset: listNumbering; }
  .note_parsed_content ol > li, .edit_note_ta ol > li {
    counter-increment: listNumbering; }
  .note_parsed_content ol > li:before, .note_parsed_content ul > li:before, .edit_note_ta ol > li:before, .edit_note_ta ul > li:before {
    display: block;
    width: 1.5em;
    height: 1.5em;
    color: #343434;
    left: -2.3em;
    position: absolute;
    font-size: 0.5em;
    border-radius: 1.5em;
    text-align: center;
    line-height: 1.7em;
    font-weight: 600; }
  .note_parsed_content ol > li:before, .edit_note_ta ol > li:before {
    content: counter(listNumbering, decimal-leading-zero);
    border: 1px solid #343434; }
  .note_parsed_content ul > li:before, .edit_note_ta ul > li:before {
    background-color: #E0115F;
    content: '';
    width: 1em;
    height: 1em;
    left: -2em; }
  .note_parsed_content li > ol > li:before, .edit_note_ta li > ol > li:before {
    background-color: #343434;
    color: #F8F8F8; }
  .note_parsed_content li > ul > li:before, .edit_note_ta li > ul > li:before {
    background-color: #009E60; }
  .note_parsed_content li, .edit_note_ta li {
    display: block;
    margin-bottom: 0.3em;
    position: relative;
    border: 0;
    height: auto !important;
    width: auto !important;
    background-color: transparent; }
  .note_parsed_content img, .edit_note_ta img {
    max-width: 100%;
    height: auto; }

.edit_note_ta {
  display: none;
  border: 1px solid #444444; }

.note_syntax {
  display: none;
  position: fixed;
  top: 20%;
  left: 10%;
  bottom: 10%;
  border: 1px solid #E1E1E1;
  z-index: 20;
  background-color: #F8F8F8;
  border-radius: 0.125em;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 20px 5px rgba(52, 52, 52, 0.3); }

.note_parsed_content.guide {
  position: relative;
  height: 100%;
  text-align: left;
  padding: 0.625em;
  color: #343434;
  border-bottom: 1px solid #444444; }
  .note_parsed_content.guide hr {
    border-color: #444444; }
  .note_parsed_content.guide ol > li:before {
    background-color: #FEFEFA;
    color: #343434; }
  .note_parsed_content.guide li > ol > li:before {
    border-color: #FEFEFA;
    color: #FEFEFA;
    background-color: transparent; }

.note_syntax_toggle {
  color: #0087BD;
  border-bottom: 1px dotted #0087BD; }
  @media only screen and (max-width: 48.75em) {
    .note_syntax_toggle {
      display: none; } }

.temp_files {
  width: 45%;
  top: 4.175rem;
  overflow-y: auto;
  transform: translateZ(0);
  bottom: 0;
  margin-left: 0;
  position: absolute;
  border-right: 1px solid #E1E1E1; }
  @media only screen and (max-width: 48.75em) {
    .temp_files {
      width: 100%;
      min-width: 20rem;
      -webkit-overflow-scrolling: touch; } }
  .temp_files .non_file {
    background-color: #009E60;
    padding: 0.5em;
    white-space: nowrap;
    font-weight: 600;
    text-overflow: ellipsis; }
  .temp_files li {
    width: 9em;
    height: 9em;
    margin: 0.2em 0.1em;
    overflow: hidden;
    border: none;
    position: relative;
    transition: transform 0.6s ease-in-out; }
    .temp_files li a:after {
      content: '';
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      opacity: 0;
      background-color: transparent;
      transition: all 0.6s ease;
      transition-property: background, opacity; }
    .temp_files li img {
      width: 130%;
      min-height: 100%; }

.profile h2 {
  margin-top: 1.250em; }

.activeImageLink.activeImageLink.activeImageLink.activeImageLink:after {
  background-color: #009E60;
  opacity: 0.8; }

/*temp larger image viewer*/
.temp_files_viewer {
  display: none; }
  @media only screen and (min-width: 48.75em) {
    .temp_files_viewer {
      display: block;
      width: 54%;
      position: absolute;
      bottom: 0;
      overflow-y: auto;
      top: 4.175rem;
      left: 45%;
      padding: 0.3em; }
      .temp_files_viewer .temp_image {
        width: 100%; }
      .temp_files_viewer .tempMessageCont {
        width: 50%;
        display: inline-block; }
        .temp_files_viewer .tempMessageCont div {
          height: 15em;
          width: 15em;
          margin: 0 auto;
          background: url("../images/btns/light_btns/stack.svg") center no-repeat;
          background-size: 100%; } }

.modal {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 2.3rem;
  background-color: #FEFEFA;
  overflow: hidden;
  z-index: 35; }
  @media only screen and (max-width: 48.75em) {
    .modal {
      top: 0;
      min-width: 20rem; } }
  .modal li {
    margin-right: -0.3em;
    background-color: #343434; }
  .modal div {
    overflow: scroll;
    transform: translateZ(0);
    width: 100%;
    height: calc(100% - 1px);
    -webkit-overflow-scrolling: touch; }
  .modal header {
    background-color: #343434;
    border-bottom: 1px solid #444444; }
  .modal button {
    border: none; }

.style_select {
  width: 51%;
  float: left; }
  @media only screen and (max-width: 48.75em) {
    .style_select {
      width: 100%; } }

.half_width {
  width: 50%;
  float: left;
  margin-bottom: 1em;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding: 1em 0; }

.dark_theme, .light_theme {
  height: 5em;
  width: 5em;
  border-radius: 5em;
  display: inline-block;
  border: 1px solid #E1E1E1;
  background-color: #FEFEFA;
  margin-bottom: 2em; }

.export_data a {
  border: 1px solid #0087BD;
  padding: 0.5em;
  border-radius: 0.125em;
  color: #0087BD; }

.export_data .green {
  border-color: #009E60;
  color: #009E60; }

.dark_theme {
  background-color: #343434; }

.selected_theme {
  border: 2px dotted #009E60; }

.theme_text {
  padding-top: 1em;
  border-top: 1px solid #E1E1E1; }

/*class added when something is deleted
animations*/
.removeElem {
  animation-name: remove;
  animation-duration: .75s; }

.tada {
  animation: tada 1s ease-in-out; }

.wobble {
  animation: wobble 1s ease-in-out; }

@keyframes remove {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%, 55% {
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    transform: scale3d(0.3, 0.3, 0.3); } }

@keyframes tada {
  0% {
    transform: scale3d(1, 1, 1); }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg); }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
  100% {
    transform: scale3d(1, 1, 1); } }

@keyframes progress {
  from {
    stroke-dashoffset: 1000; }
  to {
    stroke-dashoffset: 700; } }

@keyframes wobble {
  0% {
    transform: none; }
  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }
  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }
  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }
  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }
  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }
  100% {
    transform: none; } }

@keyframes fixedPosFix {
  from {
    transform: scale(1); }
  to {
    transform: scale(1); } }

.fixedPosFix {
  animation: fixedPosFix 100ms; }

/*upload progress container, covers everything*/
.loading_and_thumbs {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8); }

/*display loading message*/
.shallNotPass {
  width: 13.750em;
  height: 8.750em;
  position: absolute;
  left: 40%;
  text-align: center;
  top: 9.375em;
  border-radius: 2px;
  overflow: hidden;
  background-color: #FEFEFA;
  transition: 0.3s background-color ease; }
  @media only screen and (max-width: 48.75em) {
    .shallNotPass {
      width: 50%;
      left: 25%;
      top: 3em;
      height: 8em; } }
  .shallNotPass p {
    margin: 20px 0;
    color: #343434; }

.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid silver;
  background-color: #FEFEFA; }
  .progress-button svg {
    position: absolute;
    top: -5px;
    transform: translateX(-50%);
    pointer-events: none;
    stroke-width: 5; }
  .progress-button .progress-circle path {
    animation: progress 3s ease-in-out infinite;
    animation-play-state: paused; }
  .progress-button .cross, .progress-button .checkmark {
    transition: transform 0.3s ease;
    stroke: #BF4F51;
    transform: translateX(-50%) scale(0); }
  .progress-button .checkmark {
    stroke: #009E60; }

.loading .progress-button .progress-circle path {
  animation-play-state: running; }

.success {
  background-color: #009E60; }
  .success .progress-button {
    border: 5px solid transparent; }
    .success .progress-button .progress-circle {
      display: none; }
    .success .progress-button .checkmark {
      transform: translateX(-50%) scale(0.4); }

.error {
  background-color: #BF4F51; }
  .error .progress-button {
    border: 5px solid transparent; }
    .error .progress-button .progress-circle {
      display: none; }
    .error .progress-button .cross {
      transform: translateX(-50%) scale(0.4); }

.index {
  text-align: center;
  /*hide latest if search results exists using adjacent selector*/ }
  .index .no_content {
    margin: 1em auto 0; }
    @media only screen and (max-width: 48.75em) {
      .index .no_content {
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding: 0.5em;
        padding-left: 2em;
        font-size: 0.9em; } }
  .index .profile, .index .search_reveal {
    border: 1px solid #009E60;
    color: #009E60;
    padding: 0.5rem;
    border-radius: 0.125em;
    font-weight: 500;
    position: absolute;
    display: inline-block;
    top: 0.3rem;
    font-size: 1rem; }
    @media only screen and (max-width: 48.75em) {
      .index .profile, .index .search_reveal {
        padding: 0.1rem;
        top: 0.5rem;
        border: 1px solid #343434;
        color: #343434; } }
  .index .profile {
    left: 0.3rem; }
  .index .search_reveal {
    display: none;
    right: 0.3em; }
    @media only screen and (max-width: 48.75em) {
      .index .search_reveal {
        display: inline-block; } }
  .index h2, .index h3 {
    display: block; }
  .index .search_results {
    margin-left: 0;
    width: 100%;
    position: relative; }
  .index .search_results + .latest {
    display: none; }
  .index .constrain {
    display: inline-block;
    height: 12em;
    overflow: hidden;
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 0.125em; }
    @media only screen and (max-width: 48.75em) {
      .index .constrain {
        height: 20vh; } }
  .index .books, .index .images, .index .feeds {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    box-sizing: content-box;
    overflow: hidden;
    position: relative; }
    @media only screen and (max-width: 48.75em) {
      .index .books, .index .images, .index .feeds {
        width: 96%;
        height: 25vh;
        border: 1px solid #E1E1E1;
        margin-left: 6%;
        margin-top: 2vh; } }
    .index .books .media_heading, .index .images .media_heading, .index .feeds .media_heading {
      border-bottom: medium double #E1E1E1;
      margin: 0.5em 0 0.5em 5%;
      width: 90%;
      padding-bottom: 0.5em; }
      @media only screen and (max-width: 48.75em) {
        .index .books .media_heading, .index .images .media_heading, .index .feeds .media_heading {
          border: 1px solid #0087BD;
          color: #0087BD;
          margin: 0;
          width: 100%;
          padding: 0;
          transform: rotate(-90deg);
          position: absolute;
          bottom: 40%;
          left: -47%;
          font-size: 1.2rem;
          z-index: 20;
          background-color: #FEFEFA; } }
    .index .books ul:not(.tag_entry), .index .images ul:not(.tag_entry), .index .feeds ul:not(.tag_entry) {
      text-align: left;
      padding: 0 5%; }
      @media only screen and (max-width: 48.75em) {
        .index .books ul:not(.tag_entry), .index .images ul:not(.tag_entry), .index .feeds ul:not(.tag_entry) {
          height: 100%;
          padding: 0;
          white-space: nowrap;
          -webkit-overflow-scrolling: touch;
          overflow-y: hidden;
          overflow-x: auto;
          padding-left: 1.4rem; } }
    .index .books ul:not(.tag_entry) li:not(.tag_list_item):nth-child(even), .index .images ul:not(.tag_entry) li:not(.tag_list_item):nth-child(even), .index .feeds ul:not(.tag_entry) li:not(.tag_list_item):nth-child(even) {
      background-color: #F8F8F8; }
    .index .books li:not(.tag_list_item), .index .images li:not(.tag_list_item), .index .feeds li:not(.tag_list_item) {
      padding: 2%;
      margin-bottom: 0.5em;
      border-bottom: 1px dotted #E1E1E1;
      width: 100%; }
      @media only screen and (max-width: 48.75em) {
        .index .books li:not(.tag_list_item), .index .images li:not(.tag_list_item), .index .feeds li:not(.tag_list_item) {
          height: 25vh;
          width: 10em;
          overflow-x: hidden;
          overflow-y: auto;
          white-space: normal;
          border: none;
          margin: none;
          border-right: 1px solid #E1E1E1; } }
    .index .books img, .index .images img, .index .feeds img {
      width: 100%; }
  .index .images {
    border-left: 1px solid #E1E1E1;
    border-right: 1px solid #E1E1E1; }
    @media only screen and (max-width: 48.75em) {
      .index .images .media_heading {
        border-color: #DA2C43;
        color: #DA2C43; } }
  @media only screen and (max-width: 48.75em) {
    .index .feeds .media_heading {
      border-color: #009E60;
      color: #009E60; } }

.image_tag_list {
  display: block; }
  .image_tag_list h3 {
    border-top: 1px solid;
    border-bottom: medium double;
    padding-bottom: 5px;
    font-weight: 400; }
  .image_tag_list .tag_list_item {
    width: 8em;
    height: 8em;
    margin: 0.1em 0.1em 0.3em 0.1em;
    padding: 0;
    overflow: hidden;
    vertical-align: top; }
    @media only screen and (max-width: 48.75em) {
      .image_tag_list .tag_list_item {
        width: 6em;
        height: auto;
        max-height: 8em; } }
  .image_tag_list .tag_count {
    border: 1px solid;
    border-color: inherit;
    width: 3.5em;
    height: 3.5em;
    border-radius: 3em;
    display: block;
    padding-top: 15px;
    margin: 0.9em auto;
    font-style: italic;
    position: relative; }
  .image_tag_list .preview_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
    @media only screen and (max-width: 48.75em) {
      .image_tag_list .preview_img {
        min-width: 100%;
        height: 100%; } }

.image_tag_list.nonWhiteSpaceMargin li {
  margin: 0.2em; }

.hidden_label {
  display: none; }
