$altFontFam: cushing, Baskerville, Georgia, serif;
$altHeadingFam: matrix, monospace;
$buttonWH: 1.875rem;
$primaryHeaderHeight: 2.3rem;
$secondaryHeaderHeight: $buttonWH;
$headerHeight: $primaryHeaderHeight + $secondaryHeaderHeight;
$trans : transform 0.6s ease-in-out;
//colours : gray
$bckColour: #FEFEFA;
//$bckColour: #FFFFFF;
$secondaryBckColour: #F8F8F8;
$darkerBckColour: #FAFAFA;
$secondarBorderColour: #444444;
$borderColour: #E1E1E1;
//colours : white
$textColour: #343434;
//colours : red
$ruby_red : #E0115F;
$tagColour: #DA2C43;
$deleteColour: #BF4F51;
//colours : green
//$shamrock_green: #49796B;
$btnColour: #009E60;
$shamrock_green : #009E60;
//colours : blue
$blueColour: #0087BD;

//Media Queries
$information-phone: "only screen and (max-width : 48.75em)";
$information-screen: "only screen and (min-width : 48.75em)";

@charset "UTF-8";
@import "fonts";
@import "reset";
@import "buttonsandforms";
@import "basicstyles";




