/*labels*/
label{
	display: block;
	border-top: 1px dashed $borderColour;
	position: relative;
	text-align: left;

	&:before{
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		border-left: 1px dashed $borderColour;
		display: block;
		left: 49.5%;
		top: 0;
	}

	span{
		width: 50%;
		text-align: right;
		display:inline-block;
		padding: 0.625em;
		margin-left: -0.625em;
	}

	input{
		width: 49.5%;
		background-color: transparent;
		padding: 0.625em 0.625em 0 0.625em;
		margin:0 -0.625em 0.625em 0;
	}

	.tag_entry{
		width: 49.5%;
		text-align: left;
		padding-left: 0.625em;
		display: inline-block;
	}

	.tag_removal{
		width: 47%;
		vertical-align: middle;
		margin-top: 0.4em;
	}

	input[type="checkbox"]{
		width: auto;
		margin-left: 1em;
	}

	.tag_list_item.tag_list_item.tag_list_item{height: auto; transition: 0.6s opacity ease;}

	.add_new_tag{
		display: inline;
		border: none !important;
		height: auto !important;

		button{vertical-align: top;}
	}

	.new_tag{
		width: 35%;
		@media #{$information-phone}{
			width: 90%;
		}
	}
}

.re_add_tag{
	span{background: url('../images/btns/add.svg') center no-repeat;}
}

.persistant{
	position: fixed;
	top: 20%;
	left: 30%; 
	z-index: 20;
	background-color: $secondaryBckColour;
	border-radius: 0.125em;
	width: 40%;
	display: none;
	text-align: center;
	box-shadow : 0 0 20px 5px rgba(52,52,52,0.3);

	.note_colour.note_colour.note_colour{
		display: block;
		margin: 0.25em;
		text-align: center;
		border-bottom: 1px solid $borderColour;
		padding: 0.25em;
	}

	.new_tag{width: 60%;}

	@media #{$information-phone}{
		width: 90%;
		left: 5%;
	}
}

@media #{$information-phone}{
	.image_content{
		label{
			&:before{content: none;}
			span{display: none;}
			input{width: 100%;}
		}
	}
}
.secondary_header form{
	background-color: $secondaryBckColour;
	label:first-child{border-top: none;}
}
/*most forms should not be display without user action*/
form{
	display: none;
	text-align: center;

	h3{
		padding-top: 0.625em;
	}

	.tag_entry .add_new_tag{display: inline;}
}

.fullWidth{
	width: 100%;
	text-align: center;
	border-bottom: 1px dashed $borderColour;
}

.drag_handle{
	background-color: $btnColour;
	height: 1em;
}
#book_toggle, #note_toggle{
	width: 49.5%;
	color: $textColour;
	border: none;

	@media #{$information-phone}{
		width: 49%;
	}
}

.note_tags{
	label:before{content: none;}
	.tag_entry{width: 100%; padding-top: 0.5em;}
	.new_tag{width: 30%; margin-bottom: 0.5em;}
}

.note_content{
	&:before{content: none;}
}
.note_white .note_content textarea{color: $bckColour; background-color: $textColour;}
.note_green .note_content  textarea{background-color: $btnColour;}
.note_blue .note_content  textarea{color: $textColour; background-color: $blueColour;}
.note_ruby .note_content  textarea{color: $textColour; background-color: $ruby_red;}
.note_orange .note_content  textarea{color: $textColour; background-color: $deleteColour;}

.note_content > textarea{
	width: 100%;
	min-height: 8em;
	color: $textColour;
	background-color: $bckColour;
	border: none;
	padding: 0.625em;
	font-size: 1.2em;
}

.note_colour.note_colour.note_colour{
	display: none;
	margin-right: 0.25em;
	ul{display: inline-block;}
	li{width: 1em; height: 1em; overflow: hidden; margin: 0; border: none;}
	a{display: block; width: 100%; height: 100%; border-radius: 1em;}
}

.white_n{background-color: $textColour;}
.black_n{background-color: $secondaryBckColour; border: 1px solid $borderColour;}
.green_n{background-color: $btnColour;}
.ruby_n{background-color: $ruby_red;}
.orange_n{background-color: $deleteColour;}
.blue_n{background-color: $blueColour;}

.login > form, form[name='edit_user_name'], form[name='edit_email_address'], form[name="registerform"]{
	display: block;
}

.profile_form{
	width: 51%;
	@media #{$information-phone}{
		width: 100%;
	}
}

.searchAndSort{
	padding-top: 1em;
	margin-bottom: 1em;
}

.search_tags{
	min-width: 50%;
	height: $buttonWH;
	padding-left: 1em;
	font-size: 1.1em;
	color: $secondaryBckColour;
	border-radius: 0.125em;

	@media #{$information-phone}{
		margin-top: 1em;
	}
}

.search_tags.tag_editor{
	width: 100%;
	margin-bottom: 1em;
}

.sortOrder{
	background-color: $textColour;
	border: none;
	border-radius: 0.125em;
	color: $bckColour;
	vertical-align: middle;
	width: auto;
	margin-right: 0.25em;
	padding: 0.25em;
}

.sortOrder.active{
	background-color: $ruby_red;
	color: $textColour;
}

/*input search in header*/
.search{
	padding: 0.3em 1.6em 0 0.3em;
	color: $textColour;
	height: 2.2rem;
	font-size: 0.8em;
	width: 15em;
	background-color: $secondaryBckColour;

	@media #{$information-phone}{
		height: 2em;
		width: 19em;
		text-align: center;
	}
}

.search.mousetrap{
	border: none;
	@media #{$information-phone}{
		display: none;
		position: fixed;
		top: 2.3rem;
		height: 2.4rem;
		border-radius: 0;
		left: 0;
		width: 100%;
		margin: 0;
		z-index: 31;
	}
}

.submit_search{
	border: none;
	position: absolute;
	top: 0.125em;
	right: 0.3em;
	width: 1.9rem;
	height: 1.9rem;
	border-radius: 1em;
	background:$bckColour  url('../images/btns/search.svg') center no-repeat;
	background-size: 120%;

	@media #{$information-phone}{
		width: 1.5em;
		height: 1.5em;
		top: 2.4em;
		right: 1em;
		border-radius: 1.5em;
		position: fixed;
		display: none;
		z-index: 32;
	}
}

.search_mobile{
	display: none;
	@media #{$information-phone}{
		background: url('../images/btns/search.svg') center no-repeat;
		display: inline-block;
		width: 1.5rem;
		height: 2.1rem;
		border: none;
	}	
}	

button{
	width: $buttonWH;
	height: $buttonWH;
	background-color: transparent;
	border-top: 1px solid $borderColour;
	border-right: 1px solid $borderColour;
	border-left: 1px solid $borderColour;
	border-bottom: none;
	color: transparent; 
	transition: all 0.6s ease;
	transition-property: background-color, opacity;
	display:inline-block;
	vertical-align:bottom;
}

/*active button*/
.activeBtn.activeBtn.activeBtn{
	background-color: $secondaryBckColour;
}

/*validation styles*/

input[type="url"]:focus:valid, input[type="email"]:focus:valid{
	border-bottom: medium double $shamrock_green;
}

textarea:focus:valid{
	border: medium double $shamrock_green;
}

textarea:focus:invalid{
	border: medium double $ruby_red;
}

input[type="url"]:focus:invalid, input[type="email"]:focus:invalid, textarea:focus:invalid{
	border-bottom: medium double $ruby_red;
}

//background svgs for buttons

button[class^="edit_"]{
	background: url('../images/btns/edit.svg') center no-repeat;
	//background-size: 100%;
}

button[class^="add_"]{
	background: url('../images/btns/add.svg') center no-repeat;
	//background-size: 100%;
}

button.add_bookmark.add_bookmark{
	background: url(../images/btns/bookmark.svg) center no-repeat;
}

button[class^="delete_"]{
	background: url('../images/btns/trash.svg') center no-repeat;
}

.closeModal{background: url('../images/btns/delete.svg') center no-repeat;}
.close_sidebar{
	display: none;

	@media #{$information-phone}{
		background: url('../images/btns/light_btns/delete.svg') center no-repeat;
		width: 100% !important;
		border: none;
		border-bottom: 1px dotted $ruby_red;
		display: block;
		margin-bottom: 0.5em;
	}
}

.sidebarReveal{
	display: none;
	@media #{$information-phone}{
		background: url('../images/btns/hamburger.svg') top no-repeat;
		display: inline-block;
	}
}

.close_content{
	display: none;
	@media #{$information-phone}{
		background: url('../images/btns/delete.svg') center center no-repeat;
		position: fixed;
		right: 0;
		top: 0;
		border: none;
		z-index: 125;
	}
}

.close_feedback{
	background: url('../images/btns/delete.svg') center center no-repeat;
	position: absolute;
	right: 0;
	top: 0;
	border-bottom: 1px solid $borderColour;
}

button[class^="move_temp_"]{
	background: url('../images/btns/move.svg') center no-repeat;
	//background-size: 100%;
}

.check_image{
	background: url('../images/btns/checkbox.svg') center no-repeat;
	margin-right: -0.4em;
}

.secondary_header .check_image{
	margin-right: 0;
}

.checked_image.checked_image.checked_image{
	background: $textColour url('../images/btns/checkbox.svg') center no-repeat;
}

.submit{
	//removes the white space of inline display
	margin-right: -0.4em;
	margin-left: -0.8em;
	border-right: none;
	background: url('../images/btns/submit.svg') center no-repeat;
	//background-size: 100%;
}

.cancel{
	background: url('../images/btns/delete.svg') center no-repeat;
	margin-right: -0.3em;
	//background-size: 100%;
}

.previous{
	background: url('../images/btns/browserBack.svg') center no-repeat;
	//background-size: 100%;
}

.next{
	background: url('../images/btns/browserForward.svg') center no-repeat;
	//background-size: 100%;
}

.img_origSize{
	background: url('../images/btns/originalSizenobox.svg') center no-repeat;
	//background-size: 100%;
}

.img_constrainWidth{
	background: url('../images/btns/fullWidthnobox.svg') center no-repeat;
	//background-size: 100%;
}

.img_constrainHeight{
	background: url('../images/btns/fullHeightnobox.svg') center no-repeat;
	//background-size: 100%;
}

.removeFav{
	width: 1em;
	height: 1em;
	border-radius: 1em;
	display: inline-block;
	margin-left: 5px;
	margin-top: -3px;
	vertical-align: middle;
	background: url("../images/btns/delete.svg") center no-repeat;
    background-size: 150%;
}

.refresh_feeds{
	background: url('../images/btns/refresh.svg') center no-repeat;
}

.preview_btn{
	position: absolute;
	bottom: 0.2em;
	left: 1.2em;
	border: none;
	border-top: 1px solid $borderColour;
	width: 1em;
	height: 1em;
	background : url('../images/btns/preview.svg') center no-repeat;
}

.delete_popup.delete_popup{
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	background: $secondaryBckColour url('../images/btns/light_btns/delete.svg') center no-repeat;
}

/*houses the edit and delete buttons - bookmarks has a different style than the rest*/
.bookmarks{
	h2{
		margin-bottom: 0.2em;
	}
	.button_container{
		display: block;
		text-align: center;
		position: relative;
		top: 0;

		button[class^="delete_"]{
			border-right: 1px solid $borderColour;
		}
	}
} 

.button_container{
	text-align: center;
	position: absolute;
	right: 0;

	button[class^="edit_"], button[class^="add_"], button[class^="delete_"]{
		background-color: $bckColour;
	}

	button[class^="add_"], button[class^="delete_"]{
		border-right: none;
	}

	button[class^="edit_"]{
		margin-right: -0.4em;
	}
}

.edit_name{
	color: $textColour;
	background-color: transparent;
	font-size: 1.2em;
	font-weight: 200;
	border-bottom: 1px dotted $blueColour;
	display: none;
	width: 46%;
	margin-bottom: 0.5em;
	-webkit-font-smoothing: antialiased;

	@media #{$information-phone}{
		width: 90%;
	}
}

.new_tag{
	color: $textColour;
	background-color: transparent;
	border: 1px solid $shamrock_green;
	border-radius: 2px;
	margin-right: 0.5em;
	padding: 0.1em 0.4em 0;
	width: 100%;
}

.vertical_list .new_tag{width: 40%;}

.load_more{
	width: 90%;
	color: $textColour;
	font-variant: small-caps;
	font-family: georgia, serif;
	font-size: 1.2em;
	background-color: $secondaryBckColour;
	border: none;
	margin-left: 5%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 0.125em; 
}