$altFontFam: cushing, Baskerville, Georgia, serif;
$altHeadingFam: matrix, monospace;
$buttonWH: 1.875rem;
$primaryHeaderHeight: 2.3rem;
$secondaryHeaderHeight: $buttonWH;
$headerHeight: $primaryHeaderHeight + $secondaryHeaderHeight;
$trans : transform 0.6s ease-in-out;
//colours : gray
$bckColour: #444;
$secondaryBckColour: #343434;
$darkerBckColour: #434343;
$borderColour: #555;
//colours : white
$textColour: #FEFEFA;
//colours : red
$ruby_red : #E0115F;
$tagColour: #DA2C43;
$deleteColour: #BF4F51;
//colours : green
$shamrock_green : #009E60;
$btnColour: #49796B;
//colours : blue
$blueColour: #0087BD;

//Media Queries
$information-phone: "only screen and (max-width : 48.75em)";
$information-screen: "only screen and (min-width : 48.75em)";

@charset "UTF-8";
@import "fonts";
@import "reset";
@import "buttonsandforms";
@import "basicstyles";




