.active{
	font-weight: 700;
}

.small_caps_mobile{
	@media #{$information-phone} {
		font-variant: small-caps;
	}
	
}

.active_toggle{
	font-weight: 600;
}
/* float left */
.left{
	float: left;
}

/* float right */
.right{
	float: right;
}

.invert{
	filter : invert(0.8);
}

.light .invert.invert {
	background-color : $light-btnColour;
}

.lower_opacity{
	opacity: 0.1;
}

.search_results{
	border-bottom: 1px solid $borderColour;
	padding: 0.3em 0 0.5em 0;
	margin-bottom: 0;
	margin-left: 17%;
	width: 83%;

	@media #{$information-phone}{
		width: 100%;
		margin-left: 0;
	}
}

.light .search_results {
	border-bottom : 1px solid $light-borderColour;
}

.no_margin{
	margin: 0;
}

/*lists tend to have right borders but a single element in a list looks wrong so we add this*/
.left_border{
	border-left: 1px solid $borderColour;
}

.right_border{
	border-right: 1px solid $borderColour;
}

.bottom_border{
	border-bottom: 1px solid $borderColour;
}

.light {
	.left_border, .right_border, .bottom_border {
		border-color : $light-borderColour;
	}
}

.header{
	font-size: 1.2rem;
	background-color: $secondaryBckColour;
	position: fixed;
	width: 100%;
	min-width: 20rem;
	top: 0;
	z-index: 30;

	nav{
		border-bottom: 1px solid $borderColour;
		height: $primaryHeaderHeight;
	}

	li{
		padding: 0.4rem;
		border-right: 1px solid $borderColour;
	}

	.showMenu{
		height: auto;
		z-index: 5;
		background-color: $textColour;
	}

	.search_inline.search_inline.search_inline{padding: 0;}
}
/* testing new Colours */
.light .header {
	background-color : $light-headerColour;
	nav{ border-color : $light-secondaryBorderColour; }
	li { border-color : $light-secondaryBorderColour; }
	li a { color : $light-textColour; }
	.showMenu { background-color : $light-textColour; }
	.search_inline.search_inline.search_inline { height : $primaryHeaderHeight; }
}

.logout { border-right : none; }

@media #{$information-phone} {
	.main_nav > ul > li{
		font-size: 1.1rem;
		height: 2.3rem;
		padding: 0.4em 0.3em;
	}

	.home_header{
		width: 1.3em;
		overflow: hidden;
		background: url('../../images/btns/home.svg') top no-repeat;
		a{color: transparent !important;}
	}

	.logout{
		width: 1.3em;
		overflow: hidden;
		background: url('../../images/btns/power.svg') top no-repeat;
		a{color: transparent !important;}
	}

	.user_header{
		width: 1.3em;
		overflow: hidden;
		background: url(../../images/btns/profile.svg) top no-repeat;
		a{color: transparent !important;}
	}

	.header_user_name.header_user_name.header_user_name:before{
		display: none;
	}
}

.light {
	@media #{$information-phone} {
		.home_header{
			background: url('../../images/btns/light_btns/home.svg') top no-repeat;
		}
		.logout{
			background: url('../../images/btns/light_btns/power.svg') top no-repeat;
		}
		.user_header{
			background: url(../../images/btns/light_btns/profile.svg) top no-repeat;
		}
	}
}

.autocomplete-suggestions{ 
	border: 1px solid #E1E1E1; 
	background: $textColour; 
	overflow: auto; 
}
.autocomplete-suggestion{ 
	padding: 5px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
	border-bottom: 1px solid #E1E1E1;
	color: $bckColour;
}
.autocomplete-selected{
	background: $bckColour;
	color: $textColour;
}
.autocomplete-suggestions strong{ 
	font-weight: normal; 
	color: $shamrock_green; 
}

.light {
	.autocomplete-suggestions {
		border-color : $light-borderColour;
		background : $light-bckColour;
	}
	.autocomplete-suggestion {
		border-color : $light-borderColour;
		color : $light-textColour;
	}
	.autocomplete-suggestions strong {
		color : $deleteColour;
	}
	.autocomplete-selected {
		background-color : $shamrock_green;
		color : $light-textColour;
	}
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	min-width: 20rem ;
}

/*feedback in footer*/
.feedback.success, .feedback.error{
	background-color: $secondaryBckColour;
	padding: 0.4em 2.2em 0.4em 0.4em;
	border-top: 1px solid #555;
} 

.light .feedback.success, .light .feedback.error {
	background-color : $light-secondaryBckColour;
	border-color : $light-borderColour;
}

section{
	padding-bottom: 3em;
	margin-top: $headerHeight;
}

.single_header{
	margin-top: $primaryHeaderHeight;
}

/*icon before user name*/
.header_user_name{
	&:before{
		content : '';
		display:inline-block;
		width: 1rem;
		height: 1rem;
		background-color: $btnColour;
		border-radius: 1rem;
		margin-right: 0.625em;
		margin-bottom: -1px
	}
}

.light .header_user_name {
	&::before{ background-color : $light-btnColour; }
}

/*element nav that gets added to main header depending on section*/
.secondary_header.secondary_header{
	font-size: 1rem;
	height: $buttonWH;
	li{
		height: $buttonWH;;
	}
	li > button{
		border: none;
	}

	.no_padding{
		padding: 0;
	}
}

.no_content{
	background-color: $secondaryBckColour;
	color: $textColour;
	width: 15em;
	margin: 0 auto;
	margin-top: 5em;
	padding: 1em;
	border-radius: 0.125em;
	p{line-height: 1.5em};
	a{border-bottom: 1px dotted $blueColour;}
	h2{border-bottom: 1px solid $borderColour; margin-bottom: 0.7em; padding-bottom: 0.7em;}
}

.light .no_content {
	background-color : $light-secondaryBckColour;
	color : $light-textColour;
}

/*lists that run vertically rather than default inline*/
.vertical_list{
	width: 28%;
	text-align: left;
	margin: 0 0 0 17%;

	@media #{$information-phone}{
		width: 100%;
		margin: 0;
	}
}

.vertical_list > li{
	display: inline-block;
	line-height: 1.9em;
	width: 100%;
	padding: 0.625em 0.625em 0 0.625em;
	border-bottom: medium double $borderColour;
	transition: all 0.6s ease;
	transition-property: transform, opacity;

	&:nth-child(even){
		background-color: $darkerBckColour;
	}
}

.light .vertical_list > li {
	border-color : $light-borderColour;
	&:nth-child(even){
		background-color : $light-darkerBckColour;
	}
}

.vertical_list.book{
	width: 83%;

	@media #{$information-phone}{
		width: 100%;
	}
}

.vertical_list.feed_urls{
	border-left: medium double $borderColour;
	border-right: medium double $borderColour;
	width: 90%;
	padding: 0 0.5em;
	margin: 0 0 0 5%;
	column-count: 2;
	column-rule: medium double $borderColour;
	@media #{$information-phone}{
		width: 100%;
		margin: 0;
		border: none;
		padding: 0;
		column-count: 1;
	}
}

.light .vertical_list.feed_urls {
	border-color : $light-borderColour;
	column-rule : medium double $light-borderColour;
}

.vertical_list.rss_feed_list{
	position: fixed;
	margin: 0;
	left: 17%;
	border-right: 1px solid $borderColour;
	top: $headerHeight;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;

	@media #{$information-phone}{
		width: 100%;
		left: 0;
		top: 0;
		position: relative;
	}
}

.light .vertical_list.rss_feed_list {
	border-color : $light-borderColour;

	& > li {
		button {
			border : 1px solid $light-borderColour;
			background: url(../../images/btns/light_btns/add.svg) center no-repeat;
			background-size: 100%;
			border-radius: 0.25em;
			margin-right: 0.45em;
			width: 1.5em;
			height: 1.5em
		}
	}
}

.vertical_list.rss_feed_list > li{
	line-height: 2em;

	button{
		border: 0;
	}
}


.vertical_list.rss_feed_list > li > h2{
	margin: 0;
	display: inline;
	line-height: 0.5em;
}

.description{
	line-height: 1.5em;
	background-color: $darkerBckColour;
	width: calc(100% + 1.25em);
	margin-left: -0.625em;
	padding: 0.625em;
	overflow-x: hidden;
}

.light .description {
	background-color: transparent;
}

.sidebar{
	width: 17%;
	position: fixed;
	overflow-y: auto;
	left: 0;
	top: $headerHeight;
	bottom: 0;
	padding: 0.5%;
	background-color: $bckColour;
	z-index: 20;
	border-right: 1px solid $borderColour;

	@media #{$information-phone}{
		width: 55%;
		min-width: 11.875rem;
		transform: translateX(-100%);
		transition: transform 0.6s ease;
		-webkit-overflow-scrolling: touch;
	}

	h3{
		border-bottom: medium double $borderColour;
		display: block;
		margin-bottom: 0.5em;
	}

	button{
		width: 50%;
		color: $textColour;
		font-variant: small-caps;
		font-size: 0.9em;
	}

	li.no_bullet{
		width: 100%;
	}

	button.active{
		background-color: $textColour;
		border: none;
		color: $bckColour;
	}
}

.light .sidebar {
	background-color : $light-bckColour;
	border-color : $light-borderColour;

	a { color : $light-bckColour; }
	h3 { border-color : $light-borderColour; }
	button { color : $light-textColour; }
	.light_book, .light_tag {
		opacity : 0.6;
	}

	.light_book { border-right : 0; }
	button.active { opacity : 1; border : 1px solid $light-borderColour;}
}

.sidebar_reveal.sidebar_reveal.sidebar_reveal.sidebar_reveal{
	transform: translateX(0);
}

.mk_read[data-flag="7"]{
	border-left: 0;
}

.mk_read[data-flag="31"]{
	border-bottom: 1px solid $borderColour;
	margin-bottom: 0.5em;
}

.light .mk_read[data-flag="31"] {
	border-color : $light-borderColour;
}

.mk_read[data-flag="100"]{
	border-left: 0;
	border-bottom: 1px solid $borderColour;
	margin-bottom: 0.5em;
}

.light .mk_read[data-flag="100"] {
	border-color : $light-borderColour;
}

.sidebar .search{
	width: 100%;
	border-radius: 0;
	height: 2em;
	margin-bottom: 0.5em;
	background-color: $textColour;
	color: $bckColour;
}

.sidebar > li{
	display: list-item;
	text-align: left;
	line-height: 1.5em;
	margin-bottom: 0.3em;
}

.rss_content{
	width: 55%;
	position: fixed;
	overflow-y: auto;
	right: 0;
	bottom: 0;
	top: $headerHeight;
	text-align: center;
	padding: 10px 30px;
	font-size: 1.2em;
	background-color: $darkerBckColour;

	@media #{$information-phone} {
		padding: 10px;
		-webkit-overflow-scrolling: touch;
		width: 100%;
		top: 0;
		transform: translateX(100%);
		transition: transform 0.6s ease;
		z-index: 100;
	}

	img{max-width: 100%; margin-bottom: 20px; height: auto;}
	a{
		color: $blueColour;
	}
	span{
		font-variant: small-caps;
		margin: 20px 0;
		display:inline-block;
		border-bottom: 1px solid $borderColour;
		padding-bottom: 5px
	}
	h2{margin-bottom: 20px;}
	h3{margin-bottom: 20px;}
	p{
		line-height: 1.6em;text-align: left; margin-bottom: 20px;
		img{display:block; margin: 0 auto;}
	}
	ul{width: 80%; display:inline-block; margin: 20px 0;}
	li{text-align:left; width: 100%;}
	hr{display:none;}
	pre{text-align: left;}
}

.light .rss_content {
	background-color : $light-darkerBckColour;
	span { border-color : $light-borderColour; }
}

.dimmed_article{
	opacity: 0.4;
}

.fixed_pos{
	position: fixed;
	top: 0;
}

.tag_entry{
	display: inline-block;
	.tag_list_item{
		border: none;
		margin: 0 0 0.25em 0.25em;
		line-height: 1.2em;
		display: inline-block;
		padding: 0 0.3em;
		border-radius: 0.125em;
		background-color: $deleteColour;
		vertical-align: baseline;
		width: auto;
	}

	.stasis_tag{
		border: 1px solid $borderColour;
		background-color: transparent !important;
		pointer-events: none;
	}
	
	.tag_list_item:nth-child(5n + 2){background-color: $shamrock_green}
	.tag_list_item:nth-child(5n + 3){background-color: $ruby_red}
	.tag_list_item:nth-child(5n + 4){background-color: $blueColour}
	.tag_list_item:nth-child(5n + 5){background-color: $tagColour}
	.tag_delete{display: none;}
	.st_tag{opacity: 0.5; pointer-events: none;}
	.add_new_tag{vertical-align: middle; display: none; border: none; width: auto;}
	.add_new_tag button{
		width: auto;
		height: auto;
		border: none;
		padding: 0 0.2em;
		border-radius: 2px;
		color: $secondaryBckColour;
		background-color: $textColour;
		font-size: 1em;
	}
}

.light .tag_entry {
	.tag_list_item {
		a { color : $deleteColour; }
		border : 1px solid $deleteColour;
		background-color : transparent;
	}
	.stasis_tag {
		border-colour : $light-borderColour !important;
	}
	.tag_list_item:nth-child(5n + 2), .tag_list_item:nth-child(5n + 3), .tag_list_item:nth-child(5n + 4), .tag_list_item:nth-child(5n + 5) {
		background-color : transparent;
	}
	.tag_list_item:nth-child(5n + 2){color: $light-btnColour; border: 1px solid $light-btnColour; a{color: $light-btnColour}}
	.tag_list_item:nth-child(5n + 3){color: $ruby_red; border: 1px solid $ruby_red; a{color: $ruby_red}}
	.tag_list_item:nth-child(5n + 4){color: $blueColour; border: 1px solid $blueColour; a{color: $blueColour}}
	.tag_list_item:nth-child(5n + 5){color: $tagColour; border: 1px solid $tagColour; a{color: $tagColour}}
	.add_new_tag button {
		color : $light-secondaryBckColour;
		background-color : $light-textColour;
	}
}

.selected_tags, .related_tags, .other_tags{
	display: block;
}

.sidebar .tag_entry{
	.tag_delete{background-color: transparent; margin-left: -0.25em; display: inline;}
}

.tag_browser{
	@media #{$information-phone}{
		display:none;
	}
	width: 49%;
	text-align: left;
	padding: 0 1em 1em 1em;

	.tag_list_item{
		margin: 0 0.5em 0.5em 0;
		padding: 0.125em 0.125em 0.063em 0.250em;
		transition: background 0.6s ease-in-out;
	}
	.tag_delete{display: inline;}
	.removeFav{
		background: $textColour url("../../images/btns/delete.svg") center no-repeat;
		background-size: 150%;
		
	}
	.activeEdit.activeEdit.activeEdit{
		background-color: $secondaryBckColour;
		border: 1px dashed $borderColour;
	}

	.inline_edit{
		background-color: transparent;
		font-style: italic;
		font-size: 0.9em;
	}
}

.empty_tag{
	color: $deleteColour;
}

.unused_tags{
	border-top: 1px solid $borderColour;
	margin-top: 1em;
}

.light .unused_tags {
	border-color : $light-borderColour;
}

.pagination{
	position: fixed;
	bottom: 0;
	background-color: $bckColour;
	border-top: 1px solid $borderColour;
	width: 83%;
	left: 17%;

	@media #{$information-phone} {
		width: 100%;
		min-width: 20rem;
		left: 0;
	}

	li{
		font-family: $altHeadingFam;
		font-weight: 500;
		font-size: 1.3em;
		border-right: 1px solid $borderColour;
		padding: 0.2em 0.8em;
		height: 1.4em;

		@media #{$information-phone} {
			font-size: 1.1em;
		}
		
		a{
			position: absolute;
			top: 0;
			left:0;
			right: 0;
			bottom: 0;
		}

		.last_page, .first_page{font-size: 0.7em; vertical-align: top; position: relative;}
	}

	.activePage{
		background-color: $btnColour;
		border-radius: 2px;
		border-right: none;
	}
}

.light .pagination {
	background-color : $light-bckColour;
	border-color : $light-borderColour;
	li {
		border-color : $light-borderColour;
	}

	.activePage {
		background-color : $light-btnColour;
		a { color : $light-bckColour; }
	}
}

/*alternate type weight for headings(a jaunty script when using Matrix)*/
.light_heading{
	font-weight: 600;
	display: inline-block;
	margin-right: 0.625em;
}

.image_content{
	width: 83%;
	margin-left: 17%;

	@media #{$information-phone}{
		width: 100%;
		margin-left: 0;
	}

	.button_container{
		button{background-color: $secondaryBckColour;}
		top: calc(12.5em * 1.25 - 1.875em);
		@media #{$information-phone} {
			top: calc(9.6em * 1.25 - 1.875em);
		}
	}

	li{
		@media #{$information-phone} {
			width: 9.6em;
			margin: 0.3em auto;
		}
		width: 12.5em; /* image width 200px */
		transition: $trans;
		border: 1px solid $borderColour;
		margin: 0.4em 0.3em 0.4em 0.2em;
		text-align: left;
		position: relative;
		background-color: $secondaryBckColour;
	}

	img{
		width: 100%;
		height: auto;
	}

	.tag_entry{
		padding-left: 0.25em;
	}
}

.light .image_content {
	.button_container { 
		button {
			background-color : $light-secondaryBckColour; 
		}
	}
	li {
		border-color : $light-borderColour;
		background-color : $light-secondaryBckColour;
	}
}

.notes_md.notes_md.notes_md{
	border: none;
	border-radius: 0.125em;
	width: 25em;
	@media #{$information-phone} {
		width: 19.2em;
	}

	.note_img{
		height: calc(12.4rem * 1.25);
		@media #{$information-phone} {
			height: calc(9.6rem * 1.25);
		}
	}
}

.light .notes_md.notes_md {
	border : 1px solid $light-borderColour;
}

.notes_md.notes_md.note_white{
	.note_parsed_content, .edit_note_ta{
		background-color: $textColour;
		color: $bckColour;
		ol > li:before, ul > li:before{color: $bckColour;}
		ol > li:before{border: 1px solid $bckColour;}
		li > ol > li:before{background-color: $bckColour;
		color: $textColour;}
	}
}

.light .notes_md.notes_md.note_white {
	.note_parsed_content, .edit_note_ta{
		background-color: $light-bckColour;
		color: $light-textColour;
		ol > li:before, ul > li:before{color: $light-textColour;}
		ol > li:before{border: 1px solid $light-textColour;}
		li > ol > li:before{background-color: $light-textColour;
		color: $light-bckColour;}
	}
}

.light .notes_md.notes_md.note_black{
	.note_parsed_content, .edit_note_ta{
		background-color: $light-textColour; 
		color: $light-bckColour;
		ol > li:before, ul > li:before{color: $light-bckColour;}
		ol > li:before{border: 1px solid $light-bckColour;}
		li > ol > li:before{background-color: $light-bckColour;
		color: $light-textColour;}
	}
}

.notes_md.notes_md.note_green{
	.note_parsed_content, .edit_note_ta{
		background-color: $btnColour;
		a{
			border: none;
			background-color: $textColour;
			padding: 0.2em 0.2em 0 0.2em;
			border-radius: 0.2em;
		}

		ul > li:before{background-color: $bckColour;}
		li > ul > li:before{background-color: $textColour;}
	}
}

.light .notes_md.notes_md.note_green{
	.note_parsed_content, .edit_note_ta{
		background-color: $light-btnColour;
		a{
			background-color: $light-bckColour;
		}

		ul > li:before{background-color: $light-bckColour;}
		li > ul > li:before{background-color: $light-textColour;}
	}
}

.notes_md.notes_md.note_blue{
	.note_parsed_content, .edit_note_ta{
		background-color: $blueColour;
		a{
			border: none;
			background-color: $textColour;
			padding: 0.2em 0.2em 0 0.2em;
			border-radius: 0.2em;
		}

		ul > li:before{background-color: $bckColour;}
		li > ul > li:before{background-color: $textColour;}
	}
}

.light .notes_md.notes_md.note_blue{
	.note_parsed_content, .edit_note_ta{
		color : $light-bckColour;
		a{
			background-color: $light-bckColour;
		}
		ul > li::before{background-color: $light-bckColour;}
		li > ul > li::before{background-color: $light-textColour;}
	}
}
.notes_md.notes_md.note_ruby{
	.note_parsed_content, .edit_note_ta{
		background-color: $ruby_red;
		a{
			border: none;
			background-color: $textColour;
			padding: 0.2em 0.2em 0 0.2em;
			border-radius: 0.2em;
		}

		ul > li:before{background-color: $bckColour;}
		li > ul > li:before{background-color: $textColour;}
	}
}
.light .notes_md.notes_md.note_ruby{
	.note_parsed_content, .edit_note_ta{
		color : $light-bckColour;
		a{
			background-color: $light-bckColour;
		}

		ul > li:before{background-color: $light-bckColour;}
		li > ul > li:before{background-color: $light-textColour;}
	}
}
.notes_md.notes_md.note_orange{
	.note_parsed_content, .edit_note_ta{
		background-color: $deleteColour;
		a{
			border: none;
			background-color: $textColour;
			padding: 0.2em 0.2em 0 0.2em;
			border-radius: 0.2em;
		}

		ul > li:before{background-color: $bckColour;}
		li > ul > li:before{background-color: $textColour;}
	}
}
.light .notes_md.notes_md.note_orange{
	.note_parsed_content, .edit_note_ta{
		color : $light-bckColour;
		a{
			background-color : $light-bckColour;
		}

		ul > li:before{background-color: $light-bckColour;}
		li > ul > li:before{background-color: $light-textColour;}
	}
}

.note_parsed_content, .edit_note_ta{
	position: absolute;
	width: 100%;
	overflow: auto;
	top: 0;
	left: 0;
	height: calc(12.4rem * 1.25);
	padding: 0.3rem 0.5rem 1.875rem 0.5rem;
	font-size: 1.1em;
	background-color: transparent;
	border-bottom: medium double $borderColour;

	@media #{$information-phone} {
		height: calc(9.6rem * 1.25);
	}

	hr{border: 0; border-bottom: 1px solid $borderColour; margin : 0.5em 0;}
	a{
	display: inline;
	border-radius: 0;
	max-height: 0;
	border-bottom: 1px dotted $blueColour;
	color: $blueColour;
	}

	p, h1, h2, h3, h4, h5, h6{
		line-height: 1.5em;
		margin: 0;
		height: auto;
		margin-bottom: 1em;
	}

	ul, ol{
		margin-left: 1.4em;
	}

	ol{
	    counter-reset: listNumbering;
	}

	ol > li{
	    counter-increment: listNumbering;
	}

	ol > li:before, ul > li:before{
		display: block;
		width: 1.5em;
		height: 1.5em;
		color: $textColour;
		left: -2.3em;
		position: absolute;
		font-size: 0.5em;
		border-radius: 1.5em;
		text-align: center;
		line-height: 1.7em;
		font-weight: 600;
	}

	ol > li:before{
		content: counter(listNumbering,decimal-leading-zero);
		border: 1px solid $textColour;
	}

	ul > li:before{
		background-color: $ruby_red;
		content: '';
		width: 1em;
		height: 1em;
		left: -2em;
	}

	li > ol > li:before{
		background-color: $textColour;
		color: $secondaryBckColour;
	}

	li > ul > li:before{
		background-color: $shamrock_green;
	}

	li{
		display: block;
		margin-bottom: 0.3em;
		position: relative;
		border: 0;
		height: auto !important;
		width: auto !important;
		background-color: transparent !important;
	}

	img{
		max-width: 100%;
		height: auto;
	}
}

.light .note_parsed_content, .light .edit_note_ta {
	background-color : $light-bckColour;
	border-color : $light-borderColour;
	hr { border-color : $light-borderColour; }
	ol > li::before, ul > li::before {
		color : $light-textColour;
	}
	ol > li::before { border-color : $light-textColour; }
	li > ol > li::before {
		background-color : $light-textColour;
		color : $light-secondaryBckColour;
	}
}

.edit_note_ta{
	display: none;
	border: 1px dashed $borderColour;
	color: $textColour;
}

.light .edit_note_ta {
	border-color : $light-borderColour;
	color : $light-textColour;
}

.note_syntax{
	display: none;
	position: fixed;
	top: 20%;
	left: 15%;
	bottom: 10%; 
	border: 1px solid $borderColour;
	z-index: 20;
	background-color: $secondaryBckColour;
	border-radius: 0.125em;
	width: 30%;
	text-align: center;
	box-shadow : 0 0 20px 5px rgba(52,52,52,0.3);
}

.light .note_syntax {
	border-color : $light-borderColour;
	background-color : $light-secondaryBckColour;
}

.note_parsed_content.guide{
	position: relative;
	height: 100%;
	text-align: left;
	background-color: $secondaryBckColour;
	padding: 0.625em;
}

.light .note_parsed_content.guide {
	border-color : $light-secondaryBorderColour;
	hr { border-color : $light-secondaryBorderColour; }
	ol > li::before {
		background-color : $light-bckColour;
		color : $light-textColour;
	}
	li > ol > li::before {
		border-color : $light-bckColour;
		color : $light-bckColour;
		background-color : transparent;
	}
}

.note_syntax_toggle{
	color: $blueColour;
	border-bottom: 1px dashed $blueColour;

	@media #{$information-phone} {
		display: none;
	}
}

.temp_files{

	@media #{$information-phone}{
		width: 100%;
		min-width: 20rem;
		-webkit-overflow-scrolling: touch;
	}

	width: 45%;
	top: $headerHeight;
	overflow-y: auto;
	transform: translateZ(0);
	bottom: 0;
	margin-left: 0;
	position: absolute;
	border-right: 1px solid $borderColour;

	.non_file{
		background-color: $btnColour;
		padding: 0.5em;
		white-space: nowrap;
		font-weight: 600;
		text-overflow: ellipsis;
	}

	li{
		width: 9em;
		height: 9em;
		margin: 0.2em 0.1em;
		overflow: hidden;
		border: none;
		position: relative;
		transition: $trans;

		a{
			&:after{
				content: '';
				display:block;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				position: absolute;
				opacity: 0;
				background-color: transparent;
				transition: all 0.6s ease;
				transition-property: background, opacity;
			}
		}	

		img{
			width: 130%;
			min-height: 100%;
		}
	}
}

.light .temp_files {
	border-color : $light-borderColour;
	.non_file { background-color : $light-btnColour; }
}

.profile{
	h2{ margin-top: 1.250em;}
}

.activeImageLink.activeImageLink.activeImageLink.activeImageLink{
	&:after{
		background-color: $btnColour ;
		opacity: 0.8 ;
	}
}

.light .activeImageLink.activeImageLink {
	&::after{ background-color : $light-btnColour; }
}

/*temp larger image viewer*/
.temp_files_viewer{
	display: none;

	/* display if large enough screen */
	@media #{$information-screen} {
		display: block;
		width: 54%;
		position: absolute;
		bottom: 0;
		overflow-y: auto;
		top: $headerHeight;;
		left: 45%;
		padding: 0.3em;

		.temp_image{
			width: 100%;
		}

		.tempMessageCont{
			width: 50%;
			display: inline-block;

			div{
				height: 15em;
				width: 15em;
				margin: 0 auto;
				background: url('../../images/btns/stack.svg') center no-repeat;
				background-size: 100%;
			}
		}
	}	
}


.light .temp_files_viewer .tempMessageCont > div {
	background: url('../../images/btns/light_btns/stack.svg') center no-repeat;
	background-size : 100%;
}
.modal{
	display: none;
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	top: $primaryHeaderHeight;
	background-color: $bckColour;
	overflow: hidden;
	z-index: 35;

	@media #{$information-phone} {
		top: 0;
		min-width: 20rem;
	}

	li{background-color:$bckColour;}

	div{overflow: scroll; transform: translateZ(0); width: 100%; height: calc(100% - 1px); -webkit-overflow-scrolling: touch;}

	header{ background-color: $secondaryBckColour; border-bottom: 1px solid $borderColour;}

	button{
		border: none;
		border-right: 1px solid $borderColour;
	}
}

.light .modal {
	background-color : $light-borderColour;
	header { background-color : $light-headerColour; 
		border-color : $light-secondaryBorderColour; }
	li{background-color: $light-headerColour; }
	button{
		border-color : $light-secondaryBorderColour;
	}
}

.style_select{
	width: 51%;
	float: left;

	@media #{$information-phone}{
		width: 100%;
	}
}

.half_width{
	width: 50%;
	float: left;
	margin-bottom: 1em;
	border-top: 1px solid $borderColour;
	border-bottom: 1px solid $borderColour;
	padding: 1em 0;
}

.light .half_width {
	border-color : $light-borderColour;
}

.dark_theme, .light_theme{
	height: 5em;
	width: 5em;
	border-radius: 5em;
	display: inline-block;
	border: 1px solid $borderColour;
	background-color: $textColour;
	margin-bottom: 2em;
}

.light .dark_theme, .light .light_theme {
	background-color : $light-bckColour;
}

.export_data a{
	background-color: $blueColour;
	padding: 0.5em;
	border-radius: 0.125em;
	color: $textColour;
}

.light .export_data a {
	background-color : transparent;
	border: 1px solid $blueColour;
	color : $blueColour;
}

.export_data .green{
	background-color: $btnColour;
}

.light .export_data .green {
	background-color : transparent;
	border : 1px solid $light-btnColour;
	color : $light-btnColour;
}

.dark_theme{background-color: $secondaryBckColour;}
.light .dark_theme{background-color: $light-textColour;}

.selected_theme{
	border: 2px dotted $shamrock_green; 
}

.theme_text{
	padding-top: 1em;
	border-top: 1px solid $borderColour;
}	

.light .theme_text { border-color : $light-borderColour; }

/*class added when something is deleted
animations*/
.removeElem{
	animation-name: remove;
  	animation-duration: .75s;
}

.tada{ animation: tada 1s ease-in-out; }

.wobble{ animation: wobble 1s ease-in-out;}

@keyframes remove{
	20%{ transform: scale3d(.9, .9, .9);}
	50%, 55%{ transform: scale3d(1.1,1.1,1.1);}
	100%{ transform: scale3d(.3,.3,.3);}
}

@keyframes tada {
  0% { transform: scale3d(1, 1, 1);}

  10%, 20% { transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);}

  30%, 50%, 70%, 90% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}

  40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}

  100% { transform: scale3d(1, 1, 1); }
}

@keyframes progress {
   from { stroke-dashoffset: 1000; }
   to   { stroke-dashoffset: 700; }
}

@keyframes wobble {
  0% {transform: none;}
  15% {transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
  30% {transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
  45% {transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
  60% {transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
  75% {transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
  100% {transform: none;}
}

@keyframes fixedPosFix {
	from{transform: scale(1);}
	to{transform: scale(1);}
}

.fixedPosFix{ animation: fixedPosFix 100ms;}

/*upload progress container, covers everything*/
.loading_and_thumbs{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	display:none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-color: rgba(0,0,0,0.8);
}

/*display loading message*/
.shallNotPass{
	width: 13.750em;
	height: 8.750em;
	position:absolute;
	left: 40%;
	text-align:center;
	top: 9.375em;
	border-radius: 2px;
	overflow: hidden;
	background-color: $textColour;
	transition: 0.3s background-color ease;

	@media #{$information-phone} {
		width: 50%;
		left: 25%;
		top: 3em;
		height: 8em
	}

	p{margin: 20px 0; color: $bckColour;}
}

.light .shallNotPass {
	background-color : $light-bckColour;
	p { color : $light-textColour; }
}

.progress-button{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid silver;
	background-color: $textColour;

	svg{
		position: absolute;
		top: -5px;
		transform: translateX(-50%);
		pointer-events: none;
		stroke-width: 5;
	}

	.progress-circle{
		path{
			animation: progress 3s ease-in-out infinite;
			animation-play-state: paused;
		}
	}
	.cross, .checkmark{
		transition: transform 0.3s ease;
		stroke: $deleteColour;
		transform: translateX(-50%) scale(0.0);
	}

	.checkmark{
		stroke: $btnColour;
	}
}

.light .progress-button {
	background-color : $light-bckColour;
	.checkmark { stroke : $light-btnColour; }
}

.loading{
	.progress-button{
		.progress-circle{
			path{animation-play-state: running;}
		}
	}	
}

.success{
	background-color: $btnColour;

	.progress-button{
		border: 5px solid transparent;

		.progress-circle{
			display:none;
		}
		.checkmark{
			transform: translateX(-50%) scale(0.4);
		}
	}
}

.error{
	background-color: $deleteColour;

	.progress-button{
		border: 5px solid transparent;

		.progress-circle{
			display:none;
		}
		.cross{
			transform: translateX(-50%) scale(0.4);
		}
	}
}

.index{
	text-align: center;

	.no_content{
		margin: 1em auto 0;

		@media #{$information-phone} {
			margin: 0;
			width: 100%;
			border-radius: 0;

			padding: 0.5em;
			padding-left: 2em;
			font-size: 0.9em;
		}
		
	}

	.profile, .search_reveal{
		border:1px solid $btnColour;
		color: $btnColour;
		padding: 0.5rem;
		border-radius: 0.125em;
		font-weight: 500;
		position: absolute;
		display: inline-block; 
		top: 0.3rem;
		font-size: 1rem;

		@media #{$information-phone} {
			padding: 0.1rem;
			top: 0.5rem;
			border:1px solid $textColour;
			color: $textColour;
		}
	}

	.search_reveal{
		display: none;
		right: 0.3em;
		
		@media #{$information-phone} {
			display: inline-block;
		}
	}

	h2, h3{display: block;}

	.search_results{
		margin-left: 0;
		width: 100%;
		border-radius: 0.125em;
		position: relative;
		background-color : $borderColour;
	}

	/*hide latest if search results exists using adjacent selector*/
	.search_results + .latest{
		display: none;
	}

	.constrain{
		display: inline-block;
		height: 12em;
		overflow: hidden;
		width: 100%;
		border: 1px solid $borderColour;
		border-radius: 0.125em;

		@media #{$information-phone}{
			height: 7em;
		}
	}

	.books, .images, .feeds{
		vertical-align: top;
		display: inline-block;
		width: 30%;
		box-sizing: content-box;
		overflow: hidden;
		position: relative;

		@media #{$information-phone}{
			width: 96%;
			height: 10.25em;
			background-color: $secondaryBckColour;
			border: 1px solid $borderColour;
			margin-left: 4%;
			margin-top: 0.5em;
		}

		.media_heading{
			border-bottom: medium double $borderColour; 
			margin: 0.5em 0 0.5em 5%;
			width: 90%;
			padding-bottom: 0.5em;

			@media #{$information-phone}{
				background-color: $blueColour;
				border: none;
				margin: 0;
				width: 100%;
				padding: 0;
				transform: rotate(-90deg);
				position: absolute;
				bottom: 40%;
				left: -47%;
				font-size: 1.2rem;
				z-index: 20;
			}
		}

		ul:not(.tag_entry){
			text-align: left; 
			padding: 0 5%;
			@media #{$information-phone}{
				height: 100%;
				padding: 0;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
				overflow-y: hidden;
				overflow-x: auto;
				padding-left: 1.4rem;
			}
		}

		ul:not(.tag_entry) li:not(.tag_list_item):nth-child(even){
			background-color: $darkerBckColour;
			@media #{$information-phone}{
				background-color: inherit;
			}
		}
		li:not(.tag_list_item){
			padding: 2%;
			margin-bottom: 0.5em;
			border-bottom: 1px dotted $borderColour;
			width: 100%;
			@media #{$information-phone}{
				height: 100%;
				width: 10em;
				overflow-x: hidden;
				overflow-y: auto;
				white-space: normal;
				border: none;
				margin: none;
				border-right: 1px dotted $borderColour;
			}
		}

		img{width: 100%;}
	}

	.images{
		border-left : 1px solid $borderColour; 
		border-right : 1px solid $borderColour;
		@media #{$information-phone}{
			.media_heading{background-color: $tagColour;}
		}
	}

	.feeds{
		@media #{$information-phone}{
			.media_heading{background-color: $shamrock_green;}
		}
	}
}

.light .index{
	.profile, .search_reveal{
		border:1px solid $light-btnColour;
		color: $light-btnColour;

		@media #{$information-phone} {
			border:1px solid $light-textColour;
			color: $light-textColour;
		}
	}
	.profile{left: 0.3rem;}
	.search_results{
		border-radius: 0;
		background-color : $light-borderColour;
	}
	.constrain{
		border: 1px solid $light-borderColour;
	}
	.books, .images, .feeds{
		@media #{$information-phone}{
			background-color: transparent;
			border: 1px solid $light-borderColour;
		}
		.media_heading{
			border-bottom: medium double $light-borderColour; 

			@media #{$information-phone}{
				background-color: $light-bckColour;
				border: 1px solid $blueColour;
				color : $blueColour;
			}
		}

		ul:not(.tag_entry) li:not(.tag_list_item):nth-child(even){
			background-color: $light-secondaryBckColour;
		}

		li:not(.tag_list_item){
			border-bottom: 1px dotted $light-borderColour;
			@media #{$information-phone}{
				border-right: 1px solid $light-borderColour;
			}
		}

		img{width: 100%;}
	}

	.images{
		border-color : $light-borderColour;
		@media #{$information-phone}{
			.media_heading{
				background-color: transparent;
				border-color : $tagColour;
				color : $tagColour;
			}
		}
	}

	.feeds{
		@media #{$information-phone}{
			.media_heading{
				background-color: transparent;
				border-color : $shamrock_green;
				color : $shamrock_green;
			}
		}
	}
}

.image_tag_list{
	display: block;

	h3{
		border-top: 1px solid $borderColour;
		border-bottom: 1px solid $borderColour;
		padding-bottom: 5px;
		font-weight: 400;
	}

	.tag_list_item{
		width: 8em;
		height: 8em;
		background-color: $secondaryBckColour;
		margin: 0.1em 0.1em 0.3em 0.1em;
		padding: 0;
		overflow: hidden;
		vertical-align: top;

		@media #{$information-phone}{
			width: 6em;
			height: auto;
			max-height: 8em;
		}
	}

	.tag_count{
		background-color: $bckColour;
		width: 3.5em;
		height: 3.5em;
		border-radius: 3em;
		display: block;
		padding-top: 15px;
		margin: 0.9em auto;
		font-style: italic;
		position: relative;
	}

	.preview_img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		@media #{$information-phone}{
			min-width: 100%;
			height: 100%;
		}
	}
}

.light .image_tag_list {
	h3{
		border-top: 1px solid;
		border-bottom: medium double;
	}
	.tag_list_item{
		background-color: $light-bckColour;
	}
	.tag_count{
		background-color: transparent;
		border: 1px solid;
		border-color: inherit;
	}
}

.image_tag_list.nonWhiteSpaceMargin{
	li{
		margin : 0.2em;
	}
}

.hidden_label{ display:none; }