/* cushing fonts */
@font-face {
  font-family: cushing;
  src: url('../../fonts/cushing/cushing_bold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/cushing/cushing_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cushing/cushing_bold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cushing/cushing_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cushing/cushing_bold.svg#a87ca23c7ffce2055b3a02d3cedec1b6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: cushing;
  src: url('../../fonts/cushing/cushing_bold_italic.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/cushing/cushing_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cushing/cushing_bold_italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cushing/cushing_bold_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cushing/cushing_bold_italic.svg#6e841801069a6c5928b25b469aa83f12') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  600;
}

@font-face {
  font-family: cushing;
  src: url('../../fonts/cushing/cushing_book.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/cushing/cushing_book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cushing/cushing_book.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cushing/cushing_book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cushing/cushing_book.svg#06b32ee4fa53b9ac5f521d836805c9fc') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: cushing;
  src: url('../../fonts/cushing/cushing_book_italic.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/cushing/cushing_book_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cushing/cushing_book_italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cushing/cushing_book_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cushing/cushing_book_italic.svg#9bf3eee070212b59bb55c091c19bb76e') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

/*  Not using heavy weight but in case we ever choose to, heres the definition.  */

/*  @font-face { */
/*    font-family: cushing; */
/*    src: url('../../fonts/cushing/cushing_heavy.eot'); /* IE9 Compat Modes */
/*    src: url('../../fonts/cushing/cushing_heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*         url('../../fonts/cushing/cushing_heavy.woff') format('woff'), /* Modern Browsers */
/*         url('../../fonts/cushing/cushing_heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
/*         url('../../fonts/cushing/cushing_heavy.svg#f2571654318c397e214fd454a3f1f7f3') format('svg'); /* Legacy iOS */
       
/*    font-style:   normal; */
/*    font-weight:  700; */
/*  } */

/*  @font-face { */
/*    font-family: cushing; */
/*    src: url('../../fonts/cushing/cushing_heavy_italic.eot'); /* IE9 Compat Modes */
/*    src: url('../../fonts/cushing/cushing_heavy_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
/*         url('../../fonts/cushing/cushing_heavy_italic.woff') format('woff'), /* Modern Browsers */
/*         url('../../fonts/cushing/cushing_heavy_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
/*         url('../../fonts/cushing/cushing_heavy_italic.svg#6dc1ce28e073326e21475c432c109447') format('svg'); /* Legacy iOS */
       
/*    font-style:   italic; */
/*    font-weight:  700; */
/*  } */

@font-face {
  font-family: cushing;
  src: url('../../fonts/cushing/cushing_medium.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/cushing/cushing_medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cushing/cushing_medium.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cushing/cushing_medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cushing/cushing_medium.svg#74d44bef746a00536666ca2651872217') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: cushing;
  src: url('../../fonts/cushing/cushing_medium_italic.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/cushing/cushing_medium_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/cushing/cushing_medium_italic.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/cushing/cushing_medium_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/cushing/cushing_medium_italic.svg#92c81430f750d3c3fb2f7989723434dc') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  500;
}

/* Matrix - not using small caps */

@font-face {
  font-family: matrix;
  src: url('../../fonts/matrix/matrix_script_bold.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/matrix/matrix_script_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/matrix/matrix_script_bold.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/matrix/matrix_script_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/matrix/matrix_script_bold.svg#bbf5af560e2da2cdc989f1e629149f14') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: matrix;
  src: url('../../fonts/matrix/matrix_script_book.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/matrix/matrix_script_book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/matrix/matrix_script_book.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/matrix/matrix_script_book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/matrix/matrix_script_book.svg#f412aa95878fef44040fb2a6821d70b1') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}






