$altFontFam: cushing, Baskerville, Georgia, serif;
$altHeadingFam: matrix, monospace;
$buttonWH: 1.875rem;
$primaryHeaderHeight: 2.3rem;
$secondaryHeaderHeight: $buttonWH;
$headerHeight: $primaryHeaderHeight + $secondaryHeaderHeight;
$trans : transform 0.6s ease-in-out;
/* colours : gray */
$light-headerColour : #CBCBCB;
$bckColour: #444;
$light-bckColour : #FEFEFA;
$secondaryBckColour: #343434;
$light-secondaryBckColour : #F8F8F8;
$light-darkerBckColour : #FAFAFA;
$light-secondaryBorderColour : #BBB;
$darkerBckColour: #434343;
$borderColour: #555;
$light-borderColour : #E1E1E1;
/* colours : white */
$textColour: #FEFEFA;
$light-textColour : #343434;
/* colours : red */
$ruby_red : #E0115F;
$tagColour: #DA2C43;
$deleteColour: #BF4F51;
/* colours : green */
$shamrock_green : #009E60;
$btnColour: #49796B;
$light-btnColour : $shamrock_green;
/* colours : blue */
$blueColour: #0087BD;

/* Media Queries */
$information-phone: "only screen and (max-width : 48.75em)";
$information-screen: "only screen and (min-width : 48.75em)";

@charset "UTF-8";
@import "fonts";
@import "reset";
@import "buttonsandforms";
@import "basicstyles";




